<html xmlns:th="http://www.thymeleaf.org"  
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/layout">
	
<div layout:fragment="content">	
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-caption">
                        <h2 class="page-title" th:text="#{paymentmng.paymentInfoRegister.maintitle}">Payment</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-breadcrumb">
        <div class="container">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="#" th:text="#{paymentmng.paymentInfoRegister.subheaderfirst}">Payment</a></li>
                    <li class="active" th:text="#{paymentmng.paymentInfoRegister.subheadersecond}">Payment Register</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	                        <h1 th:text="#{paymentmng.paymentInfoRegister.subtitle}">Payment Register</h1>
	                        <p th:text="#{paymentmng.paymentInfoRegister.subcontent}">Please enter the information and click the registration button.</p>
	                        <form th:action="@{/paymentmng/paymentInfoCmplt}" method="post">
	                        	<input type="hidden" id="pymntId" name="pymntId" th:value="${paymentInfo.finePymntInfo.pymntId}">
	                            <div class="row">
									<div class="col-md-6">
	                                    <label class="control-label" for="vhRegNo" th:text="#{paymentmng.paymentInfoRegister.contentVehicleRegistrationNumber}">Vehicle Registration Number</label>
	                                    <span class="form-control common-span" id="vhRegNo">
	                                    	<strong th:text="${paymentInfo.vhRegNo}"></strong> 
	                                    </span>
	                                </div>
									<div class="col-md-6">
	                                    <label class="control-label" for="lawNm" th:text="#{paymentmng.paymentInfoRegister.contentLawName}">Law name</label>
	                                    <span class="form-control common-span" id="lawNm">
	                                    	<strong th:text="${paymentInfo.tfcLwInfo.lawNm}"></strong>
	                                    </span>
	                                </div>
									<div class="col-md-6">
	                                    <label class="control-label" for="vioInfo" th:text="#{paymentmng.paymentInfoRegister.contentViolationInformation}">Violation Information</label>
	                                    <span class="form-control common-span" id="vioInfo"> 
			                                    	Speed limit : <strong th:text="${paymentInfo.spdLmt}"></strong> <br/>
				                                    Violation speed : <strong th:text="${paymentInfo.vioSpd}"></strong> <br/>
				                                    Over Speed : <strong th:text="${paymentInfo.overSpd}"></strong>  
	                                    </span>
	                                </div>
									<div class="col-md-6">
	                                    <label class="control-label" for="payerNm" th:text="#{paymentmng.paymentInfoRegister.contentPayerName}">Payer Name</label>
	                                    <span class="form-control common-span" id="payerNm">
	                                    	<strong th:text="${paymentInfo.finePymntInfo.payerNm}"></strong>
	                                    </span>
	                                </div>
	                                <div class="col-md-6">
	                                    <label class="control-label" for="pymntPrice" th:text="#{paymentmng.paymentInfoRegister.contentPaymentPrice}">Payment Price</label>
	                                    <span class="form-control common-span" id="pymntPrice">
	                                    	<strong th:text="${paymentInfo.finePymntInfo.pymntPrice}"></strong>
	                                    </span>
	                                    
	                                </div>
									<div class="col-md-6">
	                                    <label class="control-label" for="pymntDdln" th:text="#{paymentmng.paymentInfoRegister.contentPaymentDeadline}">Payment Deadline</label>
	                                    <span class="form-control common-span" id="pymntDdln">
	                                    	<strong th:text="${paymentInfo.finePymntInfo.pymntDdln}"></strong>
	                                    </span>
	                                </div>
	                                <div class="col-md-6">
	                                    <label class="control-label" for="pymntMethod" th:text="#{paymentmng.paymentInfoRegister.contentPaymentMethod}">Payment method</label>
	                                    <select class="form-control wd49" id="pymntMethod" name="pymntMethod">
	                                    	<option th:text="#{paymentmng.paymentInfoRegister.selectBoxOp}">선택</option>
	                                    	<option th:each="payMthdList : ${payMthdList}" th:value="${payMthdList.cdId}" th:text="${payMthdList.cdNm}"></option>
	                                    </select>
	                                </div>
	                                <div class="col-md-12">
	                                    <div class="form-group">
	                                    	<input type="submit" class="btn btn-default" value="Pay Now" >
	                                    </div>
	                                </div>
                            	</div>
                        	</form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
