stages:          
  - build
  - deploy

include:
  - project: 'mozates/moz_ates_common'
    ref: main
    file: '.gitlab-ci.yml'

build-job :
  stage: build
  script:
    - echo "Compiling the code..."
    - chmod +x ./gradlew
    - ./gradlew clean build
    - echo "Compile complete."

deploy-job :
  stage: deploy
  script:
    - echo "배포시작..."
    - cp /home/gitlab-runner/builds/h636sxd-a/0/mozates/moz_ates_portal/build/libs/portal-0.0.1-SNAPSHOT-plain.war /home/jboss/EAP-7.4.0/application/portal/deployments/
    - sudo chown jboss:jboss /home/jboss/EAP-7.4.0/application/portal/deployments/portal-0.0.1-SNAPSHOT-plain.war
    - cd /home/jboss/EAP-7.4.0/application/portal
    - ./stop.sh
    - sleep 5
    - ./start.sh
    - echo "배포종료."