<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/modalLayout}">
      
	<th:block layout:fragment="modalContent">
		<div class="flex-center gap16">
			<div class="modal-pay-box">
				<button type="button" onclick="location.href = 'https://www.balcaovirtual.inatro.gov.mz/auth-login.php'" 
					th:text="#{common.modalFinesPayment.creditCardPayment}">신용카드 결제</button>
			</div>
			<div class="modal-pay-box">
				<button type="button" onclick="location.href = 'https://www.balcaovirtual.inatro.gov.mz/auth-login.php'"
					th:text="#{common.modalFinesPayment.mobilePayment}">모바일 결제</button>
			</div>
			<div class="modal-pay-box">
				<button onclick="pageMoveBankPayment()" th:text="#{common.modalFinesPayment.bankPayment}">은행 결제</button>
			</div>
		</div>
	</th:block>
</html>