<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/layout">

	<div layout:fragment="content">
		<div class="page-header">
	        <div class="container">
	            <div class="row">
	                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	                    <div class="page-caption">
	                        <h2 th:text="#{inquirymng.complainInfo.title.complainInfo}" class="page-title">Complain Inquiry</h2>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <div class="page-breadcrumb">
	        <div class="container">
	            <div class="col-lg-12">
	                <ol class="breadcrumb">
	                    <li th:text="#{inquirymng.common.index.ci}"><a href="#">Complain Inquiry</a></li>
	                    <li th:text="#{inquirymng.common.index.cir}" class="active">Complain Inquiry Register</li>
	                </ol>
	            </div>
	        </div>
	    </div>
	    <div class="content">
	        <div class="container">
	            <div class="row">
	                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	                    <div class="row">
	                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	                        <h1 th:text="#{inquirymng.complainInfo.title}">Complain Register</h1>
	                        <p th:text="#{inquirymng.complainInfo.content.subExplain}"> Please enter the information and click the registration button.</p>
	                        <form th:action="@{/inquirymng/complainmng/complnInquiryRegister}" method="post">
	                            <div class="row">
	                                <div class="col-md-12">
	                                    <label th:text="#{inquriymng.complainInfo.content.category}" class="control-label" for="cateCd">Category</label>
	                                    <select class="form-control wd49" id="cateCd" name="cateCd">
	                                    	<option>select</option>
	                                    	<option th:each="complainCdList : ${complainCdList}" th:value="${complainCdList.cdId}" th:text="${complainCdList.cdNm}"></option>
	                                    </select>
	                                </div>
									<div class="col-md-6">
	                                    <label th:text="#{inquirymng.complainInfo.content.title}" class="control-label" for="postTtl">Title</label>
	                                    <input type="text" id="postTtl" name="postTtl" placeholder="" class="form-control">
	                                </div>
	                                <div class="col-md-6">
	                                    <label th:text="#{inquirymng.complainInfo.content.email}" class="control-label" for="wrtrEmail">email</label>
	                                    <input type="text" id="wrtrEmail"  name="wrtrEmail" placeholder="" class="form-control">
	                                </div>
	                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	                                        <div class="form-group">
	                                            <label th:text="#{inquirymng.complainInfo.content.content}" class="control-label" for="postCn">Content</label>
	                                            <textarea class="form-control" id="postCn" name="postCn" rows="6" placeholder=""></textarea>
	                                        </div>
	                                    </div>
	                                    <div class="col-md-12">
	                                        <div  class="form-group">
	                                        	<input type="submit" class="btn btn-default" value="Register" th:value="#{inquirymng.complainInfo.content.btn.regist}">
	                                        </div>
	                                    </div>
	                            	</div>
	                        	</form>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</html>
<script type="text/javascript" th:inline="javascript">
	var message = /*[[${resultMsg}]]*/;
    if(message != null && message != ' '){
		swal({
			  title: /*[[${resultMsgType}]]*/,
			  text: message,
			  icon: /*[[${resultMsgType}]]*/,
			  button: "Confirm",
			});
	}
    
</script>