<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div id="pagination-container" th:fragment="pagingTag" th:if="${pagination.totalListCnt > 0}">
	<ul id="pagination">
		<li class="page-item">
			<a class="first" onclick="fnPageMove('1')">
				<i id="page-first-arrow"></i>
			</a>
		</li>
		<li class="page-item">
			<a class="page-left" th:onclick="fnPageMove([[${pagination.page} == 1 ? 1 : ${pagination.page} - 1]])">
				<i id="page-left-arrow"></i>
			</a>
		</li>		
			<th:block th:with="start = ${pagination.startPage}, end = ${pagination.endPage}">
				<li class="page-item" th:with="start = ${pagination.startPage}, end = ${pagination.endPage}"
				th:each="pageButton : ${#numbers.sequence(start, end)}">
					<div th:if="${pageButton == pagination.page}">
						<a class="num active on" th:onclick="fnPageMove([[${pageButton}]])" th:text=${pageButton}>1</a>
					</div>
	
					<div th:unless="${pageButton == pagination.page}">
						<a class="num active" th:onclick="fnPageMove([[${pageButton}]])" th:text=${pageButton}>2</a>
					</div>
				</li>
			</th:block>
		<li class="page-item">
			<a class="page-right" th:onclick="fnPageMove([[${pagination.page} == ${pagination.totalPageCnt} ? ${pagination.page} : ${pagination.page} + 1]])" aria-label="Next">
				<i id="page-right-arrow"></i>
			</a>
		</li>
		<li class="page-item">
			<a class="last" th:onclick="fnPageMove([[${pagination.totalPageCnt}]])">
				<i id="page-last-arrow"></i>
			</a>
		</li>
	</ul>
</div>
</html>