<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div id="pagination-container" th:fragment="pagingTag" th:if="${pagination.totalListCnt > 0}">
	<ul id="pagination">
		<li class="page-item">
			<a class="first">
				<i id="page-first-arrow" th:onclick="fnPageMove([[${pagination.startPage}]])"></i>
			</a>
		</li>
		<li class="page-item">
			<a class="page-left">
				<i id="page-left-arrow" th:onclick="fnPageMove([[${pagination.prevBlock}]])"></i>
			</a>
		</li>
		
		<th:block th:with="start = ${pagination.startPage}, end = ${pagination.endPage}">
			<li class="page-item" th:each="pageButton : ${#numbers.sequence(start, end)}">
				<div th:if="${pageButton == pagination.page}">
					<a class="num active on" th:onclick="fnPageMove([[${pageButton}]])" th:text=${pageButton}>1</a>
				</div>

				<div th:unless="${pageButton == pagination.page}">
					<a class="num active" th:onclick="fnPageMove([[${pageButton}]])" th:text=${pageButton}>2</a>
				</div>
			</li>
		</th:block>
		
		<li class="page-item">
			<a class="page-right" th:onclick="fnPageMove([[${pagination.nextBlock}]])" aria-label="Next">
				<i id="page-right-arrow"></i>
			</a>
		</li>
		<li class="page-item">
			<a class="last" th:onclick="fnPageMove([[${pagination.endPage}]])">
				<i id="page-last-arrow"></i>
			</a>
		</li>
	</ul>
</div>

</html>