<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/layout">

	<div layout:fragment="content">
        <div id="container">
	        <h2 id="page-title" th:text="#{contactus.qna.title}">문의하기</h2>
			<div class="cm-info-wrap">
				<h1	th:text="#{contactus.qna.title.detail}">문의하기 상세</h1>
				<div class="cm-input-wrap cm-detail-input-wrap">
					<div class="cm-input-list cm-detail-input-list">
						<dl>
							<dt>
								<label class="control-label" for="postTtl"	th:text="#{contactus.common.title}">제목</label>
							</dt>
							<dd class="" th:text="${qnaDetail.postTtl}">
								Title
							</dd>
						</dl>
					</div>
					<div class="cm-input-list cm-detail-input-list">
						<dl>
							<dt>
								<label class="control-label" for="wrtrEmail" th:text="#{contactus.common.category}">카테고리</label>
							</dt>
							<dd class="" th:text="${qnaDetail.cmCd.cdNm}">
								Road
							</dd>
						</dl>
					</div>
					<div class="cm-input-list cm-detail-input-list">
						<dl>
							<dt>
								<label class="control-label" for="wrtrEmail" th:text="#{contactus.common.add.date}">등록일</label>
							</dt>
							<dd class="" th:text="${#dates.format(qnaDetail.crDt, 'yyyy-MM-dd')}">
								2023-08-18
							</dd>
						</dl>
					</div>
					<div class="cm-input-list cm-detail-input-list">
						<dl>
							<dt>
								<label class="control-label" for="wrtrEmail" th:text="#{contactus.common.answer}">답변상태</label>
							</dt>
							<dd class="" th:switch="${qnaDetail.ansYn}">
								<span th:case="Y" th:text="#{contactus.qna.answer.complete}"></span>
								<span th:case="N" th:text="#{contactus.qna.answer.wait}"></span>
							</dd>
						</dl>
					</div>
					<div class="cm-input-list cm-detail-input-list">
						<dl>
							<dt>
								<label class="control-label" th:text="#{contactus.common.file}">첨부파일</label>
							</dt>
							
							<dd th:if="${#lists.isEmpty(qnaDetail.qstAtchFileList)}">Não há informações cadastradas.</dd>
							<dd th:unless="${#lists.isEmpty(qnaDetail.qstAtchFileList)}" class="flex-center">
								<div class="detailFile" th:each="fileItem : ${qnaDetail.qstAtchFileList}">
									<a th:href="@{/common/file/download.do(fileId = ${fileItem.fileIdx})}">
										<div th:text="${fileItem.fileOrgNm}">파일 이름</div>
										<button type="button" class="download"></button>
									</a>
								</div>
							</dd>
							
						</dl>
					</div>
					<div class="cm-input-list cm-detail-input-list">
						<dl>
							<dt class="">
								<label class="control-label" for="postCn" th:text="#{contactus.common.text}">내용 타이틀</label>
							</dt>
							<dd>
								<div class="text-pre-line" th:text="${qnaDetail.postCn}">내용</div>
							</dd>
						</dl>
					</div>							
				</div>
			</div>
			<th:block th:if="${qnaDetail.ansYn} == 'Y'">
			<div class="cm-info-wrap">
				<h1 th:text="#{contactus.qna.answer}">문의 답변</h1>
				<div class="cm-input-wrap">
					<div class="cm-input-list">
						<dl>
							<dt th:text="#{contactus.qna.department}">담당부서</dt>
							<dd class="" th:text="${qnaDetail.webOprtr.oprtrDeptNm}">
								Maputo Facilities Management Corporation Facility Manager
							</dd>
						</dl>
					</div>
					<div class="cm-input-list">
						<dl>
							<dt th:text="#{contactus.qna.result.date}">답변일자</dt>
							<dd class="" th:text="${#dates.format(qnaDetail.ansCrDt, 'yyyy-MM-dd')}">
								2023-08-28
							</dd>
						</dl>
					</div>
					<div class="cm-input-list">
						<dl>
							<dt th:text="#{contactus.common.file}">첨부파일</dt>
							<dd th:if="${#lists.isEmpty(qnaDetail.ansAtchFileList)}">Não há informações cadastradas.</dd>
							<dd th:unless="${#lists.isEmpty(qnaDetail.ansAtchFileList)}" class="flex-center">
								<div class="detailFile" th:each="fileItem : ${qnaDetail.ansAtchFileList}">
									<a th:href="@{/common/file/download.do(fileId = ${fileItem.fileIdx})}">
										<div th:text="${fileItem.fileOrgNm}">파일 이름</div>
										<button type="button" class="download"></button>
									</a>
								</div>
							</dd>
						</dl>
					</div>
					<div class="cm-input-list">
						<dl>
							<dt th:text="#{contactus.common.text}">내용</dt>
							<dd class="text-pre-line" th:text="${qnaDetail.ansCn}">
								Hello citizen, how are you?<br>
								First of all, we apologize for any inconvenience caused when using the automobile-only road.<br>
								We will respond to the citizen's request to paint the intersection access road guide lines.
							</dd>
						</dl>
					</div>
				</div>
			</div>				
			</th:block>
			<div class="btn-wrap-end">
				<input type="submit" class="sub-btn out-btn" th:value="#{contactus.common.list}" onclick="location.href='/info/qna/list.do'" >
				<th:block th:if="${qnaDetail.ansYn} == 'N'">
					<input type="button" class="sub-btn out-btn" th:onclick="deleteQna([[${qnaDetail.inqryId}]])" th:value="#{contactus.common.delete}">
				</th:block>
			</div>
        </div>
	</div>
</html>
<script th:inline="javascript">
function deleteQna(inqryId){
	new ModalBuilder().init().alertBody(/*[[#{contactus.qnaDetail.confirmMessage}]]*/).footer(3,/*[[#{contactus.qnaDetail.confirm}]]*/,function(button, modal){
		$.ajax({
			url: __contextPath__+"/info/qna/delete.ajax",
	        type: "post",
	        data: {inqryId : inqryId},
	        success: function(data){
	            if(data.code == 200){
	                location.href= __contextPath__+"/info/qna/list.do";
	            } else {
	            }
	        }
		})
	}, /*[[#{contactus.qnaDetail.cancel}]]*/, function(button, modal){
		modal.close();
	}).open();
}
</script>