<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/layout">

	<div layout:fragment="content">
        <div id="container">
			<h2 id="page-title" th:text="#{contactus.qna.title}">문의하기</h2>
			<form id="qnaSaveForm">
				<div class="cm-info-wrap">
					<h1	th:text="#{contactus.qna.register.user.title}">문의 신청인 정보</h1>
						<div class="cm-input-wrap">
							<div class="cm-input-list">
								<dl>
									<dt>
										<label class="control-label" for="postPw" th:text="#{contactus.common.password}">비밀번호</label>
									</dt>
									<dd>
										<input type="password" id="postPw" name="postPw" class="form-control detail-input data-validate" maxlength="10"
										th:data-valid-name="#{contactus.common.password}" 
										data-valid-minimum="4" data-valid-maximum="10" data-valid-required data-valid-pw
										onkeyup="trimValues(['postPw'])">
										<p class="file-text">
											<span class="file-text" th:text="#{contactus.qnaRegister.password.rules.length}">비밀번호 길이 문구</span>
											<br>
											<span class="file-text" th:text="#{contactus.qnaRegister.password.rules}">입력 가능 값 문구</span>
										</p>
									</dd>
								</dl>
							</div>
						</div>
				</div>
				<div class="cm-info-wrap">
					<h1 th:text="#{contactus.qna.content}">민원내용</h1>
						<div class="search-wrap">
							<div class="cm-input-list">
								<dl>
									<dt>
										<label class="control-label" for="postTtl" th:text="#{contactus.common.title}">제목</label>
									</dt>
									<dd>
										<input type="text" id="postTtl" name="postTtl" class="form-control detail-input data-validate" maxlength="150"
										th:data-valid-name="#{contactus.common.title}" 
										data-valid-minimum="5" data-valid-maximum="150" data-valid-required>
									</dd>
								</dl>
							</div>
							
							<div class="cm-input-list">
								<dl>
									<dt>
										<label  class="control-label" for="cateCd" th:text="#{contactus.common.category}">카테고리</label>
									</dt>
									<dd>
										<select class="base-select" name="cateCd" id="cateCd">
											<option th:each="item : ${cateCdList}" th:text="${item.cdNm}" th:value="${item.cdId}">All</option>
										</select>
									</dd>
								</dl>
							</div>
							<div class="cm-input-list">
								<dl>
									<dt class="textarea-top">
										<label for="uploadFiles" th:text="#{contactus.common.file}">첨부파일</label>
									</dt>
									<dd id="file-wrap">
										<div class="file-inner">
											<button type="button" class="fileUpBtn" onclick="fileUpload('5', '10', '50', ['jpg', 'jpeg', 'png'])" th:text="#{contactus.common.file.search}">파일찾기</button> 
											<input type="file" id="uploadFiles" name="uploadFiles" accept="image/jpeg, image/png" multiple style="display: none;">
										</div>
										<p class="file-text" th:text="#{contactus.common.qna.file.rules}">
											* 최대 10개. 최대 용량 5MB. 첨부 가능 확장자 (*jpg,jpeg,png)
										</p>
										<div class="uploadWrap none">
											<div id="uploadListContainer"></div>	
										</div>
									</dd>
								</dl>
							</div>
							<div class="cm-input-list">
								<dl>
									<dt class="textarea-top">
										<label class="control-label" for="postCn" th:text="#{contactus.common.text}">내용</label>
									</dt>
									<dd>
										<textarea class="form-control base-textarea data-validate" id="postCn" name="postCn" rows="6" maxlength="1000"
										th:data-valid-name="#{contactus.common.text}" 
										data-valid-minimum="5" data-valid-maximum="1000" data-valid-required></textarea>
									</dd>
								</dl>
							</div>
							
						</div>
				</div>
			</form>
			<div class="btn-wrap-end">
				<input type="button" class="sub-btn out-btn" th:value="#{contactus.common.list}" onclick="location.href='/info/qna/list.do'">
				<input type="button" class="main-btn out-btn" th:value="#{contactus.common.register}" onclick="registerQna()">
			</div>
        </div>
	</div>
</html>
<script th:inline="javascript">

	function registerQna() {
		if (!trimValues(['postPw', 'postTtl', 'postCn'])) return;
		if (!soValid("qnaSaveForm")) return;
		
		const searchingMsg = /*[[#{contactus.common.loading.saving}]]*/;
		const loading = new PortalLoading().start(searchingMsg);
		
		const formData = new FormData(document.getElementById('qnaSaveForm'));

		fetch(/*[[@{/info/qna/save.ajax}]]*/, {
			method: "post"
			, body: formData
		})
				.then(response => response.json())
				.then((result) => {
					if (result.code === 200) {
						new ModalBuilder().init().successBody(result.message).footer(4, 'OK', function (button, modal) {
							modal.close();
							location.href = /*[[@{/info/qna/list.do}]]*/;
						}).open();
					} else {
						new ModalBuilder().init().alertBody(result.message).footer(4, 'OK', function (button, modal) {
							modal.close();
						}).open();
					}
				})
				.finally(() => {
					loading.end();
				});
	}

</script>
