<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/layout">

	<div layout:fragment="content">
		 <div class="page-breadcrumb">
            <div class="page-breadcrumb-left">
                <ol class="breadcrumb">
                    <li th:text="#{reception.common.index.ci}"><a href="#">Complain Inquiry</a></li>
                    <li th:text="#{reception.common.index.cir}" class="active"><a href="">Complain Inquiry Register</a></li>
                </ol>
            </div>
	    </div>
	        <div class="container">
		        <h2 id="page-title" th:text="#{reception.complainModify.title}">민원</h2>
				<div class="info-wrap">
					<h1 th:text="#{reception.complainModify.detail.txt.title}">민원 내용</h1>
					<form th:action="@{/inquirymng/complainmng/complnInquiryRegister}" method="post">
						<div class="search-wrap">
							<div class="search">
								<dl>
									<dt>
										<label class="control-label" for="wrtrEmail" th:text="#{reception.complainModify.detail.title}">제목</label>
									</dt>
									<dd>
										<input type="text" id="wrtrEmail" name="wrtrEmail" placeholder="" class="form-control">
									</dd>
								</dl>
							</div>
							
							<div class="search">
								<dl>
									<dt>
										<label  class="control-label" for="wrtrEmail" th:text="#{reception.complainModify.detail.category}">카테고리</label>
									</dt>
									<dd>
										<select class="wd100">
											<option>All</option>
										</select>
									</dd>
								</dl>
							</div>
							<div class="search">
								<dl>
									<dt th:text="#{reception.complainModify.detail.person}">
										민원인
									</dt>
									<dd class="table-border">
										inki, Mon
									</dd>
								</dl>
							</div>
							<div class="search">
								<dl>
									<dt th:text="#{reception.complainModify.detail.date}">
										등록일
									</dt>
									<dd class="table-border">
										2012-08-08
									</dd>
								</dl>
							</div>
							<div class="search">
								<dl>
									<dt th:text="#{reception.complainModify.detail.state}">
										처리상태
									</dt>
									<dd class="table-border">
										Waiting
									</dd>
								</dl>
							</div>							
							<div class="search">
								<dl>
									<dt class="textarea-top">
										<label class="control-label" for="postCn" th:text="#{reception.complainModify.detail.file}">첨부파일</label>
									</dt>
									<dd class="file">
										<input class="upload-name" th:value="#{reception.complainModify.detail.file}" th:placeholder="#{reception.complainModify.detail.file}">
										 <label for="file" th:text="#{reception.complainModify.detail.state}">파일찾기</label> 
										<input type="file" id="file" name="wrtrEmail" placeholder="" class="form-control">
										<p class="file-text" th:text="#{reception.complainModify.file.rules}">
											*파일첨부는 n개까지 가능, 총 (n)MB이하로 첨부하여 주세요. 첨부 가능 확장자 (*hwp,hwpx,…)
										</p>
									</dd>
								</dl>
							</div>
							<div class="search">
								<dl>
									<dt class="textarea-top">
										<label class="control-label" for="postCn" th:text="#{reception.complainModify.detail.txt}">내용</label>
									</dt>
									<dd>
										<textarea class="form-control" id="postCn" name="postCn" rows="6" th:placeholder="#{reception.complainModify.textarea.placeholder.txt}"></textarea>
									</dd>
								</dl>
							</div>
						</div>
					</form>
				</div>
				
				<div class="search-wrap btn-wrap">
					<div class="form-group">
						<input type="button" class="btn is-basic-button" th:value="#{reception.common.list.more}" >
						<input type="button" class="btn is-basic-button" th:value="#{reception.common.remove}">
						<input type="button" class="btn is-key-button" th:value="#{reception.common.modify}">
					</div>
				</div>
	        </div>
	</div>
</html>
<script type="text/javascript" th:inline="javascript">
	var message = /*[[${resultMsg}]]*/;
    if(message != null && message != ' '){
		swal({
			  title: /*[[${resultMsgType}]]*/,
			  text: message,
			  icon: /*[[${resultMsgType}]]*/,
			  button: "Confirm",
			});
	}
    
</script>