<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/layout">

<div layout:fragment="content">
	<div id="container">
		<h2 id="page-title" th:text="#{reception.complainRegist.title}">민원</h2>
		
		<form id="complaintsRegistForm">
			<div class="cm-info-wrap">
				<h1 th:text="#{reception.complainRegist.user.title}">민원 신청인 정보</h1>
				<div class="cm-input-wrap">
					<div class="cm-input-list">
						<dl>
							<dt>
								<label class="control-label" for="wrtrNm" th:text="#{reception.complainRegist.user.name}">이름</label>
							</dt>
							<dd>
								<input type="text" id="wrtrNm" name="wrtrNm" class="detail-input form-control data-validate"
									th:data-valid-name="#{reception.complainRegist.user.name}" data-valid-minimum="3" data-valid-maximum="50" data-valid-required>
							</dd>
						</dl>
					</div>
					<div class="cm-input-list">
						<dl>
							<dt>
								<label class="control-label" for="wrtrPno" th:text="#{reception.complainRegist.user.phone}">핸드폰
									번호</label>
							</dt>
							<dd>
								<input type="text" id="wrtrPno" name="wrtrPno" class="detail-input form-control data-validate"
									th:data-valid-name="#{reception.complainRegist.user.phone}" data-valid-required>
							</dd>
						</dl>
					</div>
				</div>

			</div>
			<div class="cm-info-wrap">
				<h1 th:text="#{reception.complainRegist.detail}">민원내용</h1>
				<div class="cm-input-wrap">
					<div class="cm-input-list">
						<dl>
							<dt>
								<label class="control-label" for="postTtl" th:text="#{reception.complainRegist.subject}">제목</label>
							</dt>
							<dd>
								<input type="text" id="postTtl" name="postTtl" class="detail-input form-control data-validate" 
									th:data-valid-name="#{reception.complainRegist.subject}" data-valid-required>
							</dd>
						</dl>
					</div>
					<div class="cm-input-list">
						<dl>
							<dt>
								<label class="control-label" for="postPw"
									th:text="#{reception.complainRegist.password}">Password</label>
							</dt>
							<dd>
								<input type="password" id="postPw" name="postPw" placeholder="" class="detail-input form-control data-validate"
									th:data-valid-name="#{reception.complainRegist.password}" data-valid-required maxlength="10">
							</dd>
						</dl>
					</div>

					<div class="cm-input-list">
						<dl>
							<dt>
								<label class="control-label" for="cateCd"
									th:text="#{reception.complainRegist.category}">카테고리</label>
							</dt>
							<dd>
								<select class="base-select" name="cateCd" id="cateCd">
									<th:block th:each="cateItm : ${complaintsCate}">
										<option th:value="${cateItm.cdId}" th:text="${cateItm.cdNm}">All</option>
									</th:block>
								</select>
							</dd>
						</dl>
					</div>
					
					<!-- TODO :: File Upload -->
					<div class="cm-input-list">
						<dl>
							<dt class="textarea-top">
								<label class="control-label" for="uploadFiles" th:text="#{reception.complainRegist.file}">첨부파일</label>
							</dt>
							<dd id="file-wrap">
								<div class="file-inner">
									<button type="button" class="fileUpBtn" onclick="fileUpload('5', '10', '50', ['jpg', 'jpeg', 'png'])" th:text="#{reception.complainRegist.file.search}">파일찾기</button>
									<input type="file" id="uploadFiles" name="uploadFiles" accept="image/jpeg, image/png" multiple style="display: none;">
								</div>
								<p class="file-text" th:text="#{reception.complainRegist.file.rules}">
									최대 10개. 최대 용량 5MB. 첨부 가능 확장자 (*jpg,jpeg,png)
								</p>

								<div class="uploadWrap none">
									<div id="uploadListContainer"></div>	
								</div>
							</dd>
						</dl>
					</div>
					
					<div class="cm-input-list">
						<dl>
							<dt class="textarea-top">
								<label class="control-label" for="postCn" th:text="#{reception.complainRegist.textarea.txt}">내용</label>
							</dt>
							<dd>
								<textarea class="form-control base-textarea data-validate" id="postCn" name="postCn" rows="6"
									th:placeholder="#{reception.complainRegist.textarea.placeholder.txt}"
									th:data-valid-name="#{reception.complainRegist.textarea.txt}" data-valid-required></textarea>
							</dd>
						</dl>
					</div>
					
				</div>
			</div>
		</form>
		
		<div class="btn-wrap-end">
			<button type="button" class="sub-btn out-btn" th:text="#{reception.common.list.more}">List</button>
			<button type="button" class="main-btn out-btn" th:text="#{reception.common.submit}" onclick="registComplaints()">Submit</button>
		</div>
	</div>

	
</div>
</div>

</html>
<script th:inline="javascript">

	function registComplaints() {
		if (soValid("complaintsRegistForm")) {
			const formData = new FormData(document.getElementById('complaintsRegistForm'));

			fetch(/*[[@{/complain/save.ajax}]]*/, {
				method: "post",
				body: formData
			})
				.then(response => response.json())
				.then((result) => {
					if (result.code === 200) {
						new ModalBuilder().init().alertBody(result.message).footer(4, 'OK', function (button, modal) {
							modal.close();
							location.href=/*[[@{/complain/list.do}]]*/;
						}).open();
					} else {
						new ModalBuilder().init().alertBody(result.message).footer(4, 'OK', function (button, modal) {
							modal.close();
						}).open();
					}
				});

		}
	}

</script>