<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/layout">

<div layout:fragment="content">
	<div id="container">
		<h2 id="page-title" th:text="#{reception.objectionResult}">이의제기</h2>
		<div class="cm-info-wrap">
			<h1 th:text="#{reception.objectionResult.txt}">이의제기 내용</h1>
			<div class="cm-input-wrap cm-detail-input-wrap">
				<div class="cm-input-list cm-detail-input-list">
					<dl>
						<dt th:text="#{reception.objectionResult.bill.number}">
							단속 번호
						</dt>
						<dd class="" th:text="${objRegDetail.fineNtcInfo.tfcEnfId}">
							M1318-2023-900018984
						</dd>
					</dl>
				</div>
				<div class="cm-input-list cm-detail-input-list">
					<dl>
						<dt th:text="#{reception.objectionResult.date}">
							신청일자
						</dt>
						<dd class="" th:text="${#dates.format(objRegDetail.crDt, 'yyyy-MM-dd')}">
							2023-08-08
						</dd>
					</dl>
				</div>
				<div class="cm-input-list cm-detail-input-list">
					<dl>
						<dt th:text="#{reception.objectionResult.title}">
							제목
						</dt>
						<dd class="" th:text="${objRegDetail.postTtl}">
							title content
						</dd>
					</dl>
				</div>
				<div class="cm-input-list cm-detail-input-list">
					<dl>
						<dt th:text="#{reception.objectionResult.category}">
							카테고리
						</dt>
						<dd class="" th:text="${objRegDetail.cmCd.cdNm}">
							penalty
						</dd>
					</dl>
				</div>
				<div class="cm-input-list cm-detail-input-list cm-detail-col3">
					<dl>
						<dt th:text="#{reception.objectionResult.file}">
							첨부파일
						</dt>
						<dd th:if="${#lists.isEmpty(objRegDetail.qstAtchFileList)}">Não há informações cadastradas.</dd>
						<dd th:unless="${#lists.isEmpty(objRegDetail.qstAtchFileList)}">
							<div id="uploadListContainer">
								<div class="uploadList">
									<a class="listItem" th:each="fileItem : ${objRegDetail.qstAtchFileList}"
									 th:href="@{/common/file/download.do(fileId = ${fileItem.fileIdx})}">
										<div class="fileList" th:text="${fileItem.fileOrgNm}">파일 이름</div>
										<button type="button" class="download"></button>
									</a>
				                 </div>
			                </div>
						</dd>
					</dl>
				</div>
				<div class="cm-input-list cm-detail-input-list cm-detail-col3">
					<dl>
						<dt th:text="#{reception.objectionResult.textarea.txt}">
							내용
						</dt>
						<dd>
							<div class="text-pre-line" th:text="${objRegDetail.postCn}"></div>
						</dd>
					</dl>
				</div>
			</div>
		</div>

		<div class="cm-info-wrap">
			<h1 th:text="#{reception.objectionResult.answer}">이의제기 답변</h1>
			<div class="cm-input-wrap" th:if="${objRegDetail.ansStts == 'Y'}">
				<div class="cm-input-list cm-detail-input-list">
					<dl>
						<dt th:text="#{reception.objectionResult.department}">
							담당부서
						</dt>
						<dd class="" th:text="${objRegDetail.webOprtr.oprtrDeptNm}">
							Manager
						</dd>
					</dl>
				</div>
				<div class="cm-input-list cm-detail-input-list">
					<dl>
						<dt th:text="#{reception.objectionResult.result.date}">
							답변일자
						</dt>
						<dd class="" th:text="${#dates.format(objRegDetail.ansCrDt, 'yyy-MM-dd')}">
							2023-08-08
						</dd>
					</dl>
				</div>
				<div class="cm-input-list cm-detail-input-list">
					<dl>
						<dt th:text="#{reception.objectionResult.textarea.txt}">
							내용
						</dt>
						<dd class="text-pre-line" th:text="${objRegDetail.ansContents}">
							Content
						</dd>
					</dl>
				</div>
			</div>

			<div class="cm-no-ans" th:unless="${objRegDetail.ansStts == 'Y'}" th:text="#{reception.objectionDetail.incompleted}">
				in progress
			</div>
		</div>


		<div th:class="${objRegDetail.ansStts == 'N' ? 'btn-wrap-between btnThree' : 'btn-wrap-end'}">
			<button type="button" class="sub-btn out-btn" th:onclick="|location.href='@{/objection/list.do}'|"
				th:text="#{reception.common.list.more}">List</button>
			<div id="btnDelteAdd">
				<th:block th:if="${objRegDetail.ansStts == 'N'}">
					<form id="deleteForm" class="deleteForm">
						<input type="hidden" name="objIdx" th:value="${objRegDetail.objIdx}">
						<button type="button" class="delete-btn out-btn"
							onclick="deleteObjection()" th:text="#{reception.objectionDetail.delete}">Delete</button>
					</form>
					<form class="modifyForm" method="post" th:action="@{/objection/update.do}">
						<input type="hidden" name="objIdx" th:value="${objRegDetail.objIdx}">
						<button type="submit" class="main-btn out-btn"
							th:text="#{reception.objectionDetail.modify}">Modify</button>
					</form>
				</th:block>
			</div>
		</div>
	</div>
</div>

</html>
<script th:inline="javascript">
	function deleteObjection() {
		// 삭제하시겠습니까?
		new ModalBuilder().init().alertBody("Você tem certeza que deseja excluir?").footer(3, [[#{reception.common.btn.confirm}]], function (button, modal) {
			modal.close();

			const searchingMsg = /*[[#{reception.common.loading.processing}]]*/;
			const loading = new PortalLoading().start(searchingMsg);

			const formData = new FormData(document.getElementById('deleteForm'));

			fetch(/*[[@{/objection/delete.ajax}]]*/, {
				method: "post",
				body: formData
			})
					.then(response => response.json())
					.then((result) => {
						if (result.code === 200) {
							new ModalBuilder().init().successBody(result.message).footer(4, 'OK', function (button, modal) {
								modal.close();
								location.href = /*[[@{/objection/list.do}]]*/;
							}).open();
						} else {
							new ModalBuilder().init().alertBody(result.message).footer(4, 'OK', function (button, modal) {
								modal.close();
								location.href = /*[[@{/objection/list.do}]]*/;
							}).open();
						}
					})
					.finally(() => {
						loading.end();
					});
		}, [[#{reception.common.btn.cancel}]], function (button, modal) {
			modal.close();
		}).open();
	}
</script>