<html xmlns:th="http://www.thymeleaf.org"  
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/layout">
	
<div layout:fragment="content">	
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-caption">
                        <h2 th:text="#{customermng.faqList.title.faq}" class="page-title">FAQ</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-breadcrumb">
        <div class="container">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li th:text="#{customermng.common.index.cs}"><a href="#">Customer Service</a></li>
                    <li th:text="#{customermng.common.index.faq}" class="active">FAQ</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="content faq_area section_padding_130">
        <div class="container">
            <div class="row justify-content-center">
	            <div class="col-12 col-sm-8 col-lg-6 wd100">
	                <!-- Section Heading-->
	                <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
	                    <h1 th:text="#{customermng.faqList.content.title}"><span>FAQ</span></h1>
	                    <p th:text="#{customermng.faqList.explainPage}">This is the Mozambique Government Portal FAQ page.</p>
	                    <div class="line"></div>
	                </div>
	            </div>
        	</div>
        	<form id="faqListForm" name="faqListForm">
        		<input type="hidden" id="cateTy" name="cateTy">
	        	<div class="categoty-group">
		        	<span th:text="#{customermng.faqList.searchAll}" class="btn btn-default faq-category" th:onclick="fnFaqList()">ALL</span>
		        	<span class="btn btn-default faq-category" th:each="faqCdList : ${faqCdList}" th:onclick="fnFaqList([[${faqCdList.cdId}]])" th:text="${faqCdList.cdNm}"></span>
	        	</div>
		        <div class="row justify-content-center">
		            <!-- FAQ Area-->
		            <div class="col-12 col-sm-10 col-lg-8 wd100">
		                <div class="accordion faq-accordian" id="faqAccordion">
		                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;" th:each="faqList, i : ${faqList}">
		                        <div class="card-header" th:id="'heading'+${i.index+1}">
		                            <h6 class="mb-0 collapsed" data-toggle="collapse" th:data-target="'#collapse'+${i.index+1}" aria-expanded="true" th:aria-controls="'collapse'+${i.index+1}" th:text="${faqList.postTitle}"><span class="lni-chevron-up"></span></h6>
		                        </div>
		                        <div class="collapse" th:id="'collapse'+${i.index+1}" th:aria-labelledby="'heading'+${i.index+1}" data-parent="#faqAccordion">
		                            <div class="card-body">
		                                <p th:text="${faqList.postContent}"></p>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
        	</form>
        </div>
    </div>
</div>
</html>
<script type="text/javascript">
	function fnFaqList(cdId){
		$("#cateTy").val(cdId);
		var form = document.getElementById("faqListForm");
		form.action="/customer/service/faqList";
		form.method = "post";
		form.submit();
	}
</script>
