<html xmlns:th="http://www.thymeleaf.org"  
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/layout">
	
<div layout:fragment="content">	
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-caption">
                        <h2 class="page-title" th:text="#{finesmng.fineInquiryDetail.title}">Fines Inquiry Detail</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-breadcrumb">
        <div class="container">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="#" th:text="#{finesmng.fineInquiryDetail.subheaderfirst}">Fines Inquiry</a></li>
                    <li class="active" th:text="#{finesmng.fineInquiryDetail.subheadersecond}">Fines Inquiry Detail</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="row">
            	<div class="div-drive-info">
					<div class="mb20">
						<h1 th:text="#{finesmng.fineInquiryDetail.subtitle}">Fines Inquiry Detail</h1>
					</div>
					<div class="col-md-8 border-right">
						<div class="p-3 py-5">
							<div class="row mt-3">
				    	        <div class="col-md-12"><label class="labels" th:text="#{finesmng.fineInquiryDetail.contentName}">Name</label>
				    	        	<span class="form-control common-span" th:text="${finesDetail.vioInfo.vioNm}"></span>
				    	        </div>
				            </div>
				            <div class="row mt-3">
				                <div class="col-md-12"><label class="labels" th:text="#{finesmng.fineInquiryDetail.contentLawName}">Law name</label>
				                	<span class="form-control common-span" th:text="${finesDetail.tfcLwInfo.lawNm}"></span>
				                </div>
				                <div class="col-md-12"><label class="labels" th:text="#{finesmng.fineInquiryDetail.contentBirthDay}">Birth Day</label>
				                	<span class="form-control common-span" th:text="${finesDetail.vioInfo.vioBrth}"></span>
				               	</div>
				            </div>
				            <div class="row mt-3">
				                <div class="col-md-12"><label class="labels" th:text="#{finesmng.fineInquiryDetail.contentEmail}">Email</label>
									<span class="form-control common-span" th:text="${finesDetail.vioInfo.vioEmail}"></span>
				                </div>
								<div class="col-md-12"><label class="labels" th:text="#{finesmng.fineInquiryDetail.contentPhoneNumber}">PhoneNumber</label>
									<span class="form-control common-span" th:text="${finesDetail.vioInfo.vioPno}"></span>
								</div>
				            </div>
				            <div class="row mt-3">
				                <div class="col-md-12"><label class="labels" th:text="#{finesmng.fineInquiryDetail.contentAddress}">Address</label>
				                	<span class="form-control common-span" th:text="${finesDetail.vioInfo.vioAddr}"></span>
				                </div>
				            </div>
				        </div>
					</div>
					<div class="col-md-4">
						<div class="p-3 py-5">
							<div class="col-md-6 wd100 nopadding"><label class="labels" th:text="#{finesmng.fineInquiryDetail.contentPaymentStatus}">Payment Status</label>
								<th:block th:if="${finesDetail.finePymntInfo.pymntStts == 'Y'}">
					            	<span class="form-control common-span" th:text="#{finesmng.fineInquiryDetail.paid}">Paid</span>
								</th:block>
								<th:block th:if="${finesDetail.finePymntInfo.pymntStts == 'N'}">
					            	<span class="form-control common-span">
					            		<a href="#" class="color-red" th:onclick="fnPaymentMove([[${finesDetail.finePymntInfo.pymntId}]])" th:text="#{finesmng.fineInquiryDetail.notPaid}">Not Paid</a>
					            	</span>
								</th:block>
				            </div>
							<div class="col-md-6 wd100 nopadding"><label class="labels" th:text="#{finesmng.fineInquiryDetail.contentTrafficEnforcementId}">Traffic Enforcement ID</label>
				            	<span class="form-control common-span" th:text="${finesDetail.tfcEnfId}"></span>
				            </div>
							<div class="col-md-6 wd100 nopadding"><label class="labels" th:text="#{finesmng.fineInquiryDetail.contentDriverLicenseId}">Driver license ID</label>
				            	<span class="form-control common-span" th:text="${finesDetail.vioInfo.dvrLcenId}"></span>
				            </div>
				            <div class="col-md-6  wd100 nopadding"><label class="labels" th:text="#{finesmng.fineInquiryDetail.contentVehicleRegistrationNumber}">Vehicle Registration Number</label>
			    	        	<span class="form-control common-span" th:text="${finesDetail.vhRegNo}"></span>
			    	        </div>
				            <div class="col-md-6 wd100 nopadding"><label class="labels" th:text="#{finesmng.fineInquiryDetail.contentDriverLicenseType}">Driver license type</label>
				            	<span class="form-control common-span" th:text="${finesDetail.vioInfo.dvrLcenTy}"></span>
				            </div>
						</div>
					</div>
				</div>
				<div class="col-md-8">
					<div class="p-3 py-5">
						<div class="row mt-3">
			    	        <div class="col-md-12">
			    	        	<a class="btn btn-default" th:href="@{/finesmng/finesInquiryList}" th:text="#{finesmng.fineInquiryDetail.paid}">Fines Inquiry</a>
			    	        </div>
			            </div>
			        </div>
				</div>
            </div>
        </div>
    </div> 
	<form id="paymentForm" name="paymentForm">
		<input type="hidden" id="pymntId" name="pymntId">
	</form>
</div>
</html>
<script type="text/javascript">

	function fnPaymentMove(pymntId){
		console.log(pymntId)
		$("#pymntId").val(pymntId);
		var form = document.getElementById("paymentForm");
		form.action="/paymentmng/paymentInfoRegister";
		form.method = "post";
		form.submit();
	}
</script>

