<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/layout">

<div layout:fragment="content">
	<div id="container">
		<div id="wrap">
			<div class="detail-info-wrap nt-detail-info-wrap">
				<div class="detail-title">
					<h3 th:text="#{inquiry.enfStatusDetail.crackdownDetail}"></h3>
					<div>
						<span th:text="#{inquiry.enfStatusDetail.enforcementId}" id="billNumber"></span>
						<span th:text="${tfcEnfStatusDetail.tfcEnfId}">M1318-2023-90010893</span>
					</div>
				</div>
				<div class="detail-table detail-table-7">
					<dl>
						<dt th:text="#{inquiry.enfStatusDetail.vehicleNumber}"></dt>
						<dd th:text="${tfcEnfStatusDetail.vhRegNo}">CA 688-566</dd>
					</dl>
					<dl>
						<dt th:text="#{inquiry.enfStatusDetail.violatorName}"></dt>
						<dd th:text="${tfcEnfStatusDetail.vioInfo.vioNm}">Inki Moon</dd>
					</dl>
					<dl>
						<dt th:text="#{inquiry.enfStatusDetail.violationPlace}"></dt>
						<dd th:text="${tfcEnfStatusDetail.roadAddr}">Street 50</dd>
					</dl>
					<dl>
						<dt th:text="#{inquiry.enfStatusDetail.violationDate}"></dt>
						<dd th:text="${#dates.format(tfcEnfStatusDetail.tfcEnfDt, 'yyyy-MM-dd')}">15.01.2024</dd>
					</dl>

<!--					<dl>-->
<!--						<dt th:text="#{inquiry.enfStatusDetail.violationType}"></dt>-->
<!--						<dd>Speeding</dd>-->
<!--					</dl>-->
					<dl class="detail-content">
						<dt class="detail19" th:text="#{inquiry.enfStatusDetail.violationLaw}"></dt>
						<dd class="detail80">
							<th:block th:each="tfcLwInfo : ${tfcEnfStatusDetail.tfcLwInfoList}">
								<div th:text="|[${tfcLwInfo.cdNm}] ${tfcLwInfo.lawArticleNo}|">Article 13, Paragraph 7
									of the Road Traffic Act</div>
							</th:block>
						</dd>
					</dl>

					<dl class="detail-content">
						<dt th:text="#{inquiry.enfStatusDetail.violationContent}"></dt>
						<dd th:text="${tfcEnfStatusDetail.tfcEnfDetail}">Speed ​​(speed limit 80km/h, driving speed
							120km/h, speed exceeding 40km/h)</dd>
					</dl>
				</div>
			</div>

			<div class="detail-info-wrap">
				<div class="detail-title">
					<h3 th:text="#{inquiry.enfStatusDetail.paymentAndPeriod}"></h3>
				</div>
				<div class="detail-table">
					<dl>
						<dt th:text="#{inquiry.enfStatusDetail.firstPaymentDueDate}"></dt>
						<dd th:text="${#dates.format(tfcEnfStatusDetail.fineNtcInfo.firstFineNtcDdln, 'yyyy-MM-dd')}">01.01.2024
						</dd>
					</dl>
					<dl>
						<dt th:text="#{inquiry.enfStatusDetail.amountWithinDueDate}"></dt>
						<dd
							th:text="${@mozatesCommonUtils.priceFmt(tfcEnfStatusDetail.fineNtcInfo.firstFineNtcPrice ,'MOZAMBIQUE_METICAL')}">
							500 MT</dd>
					</dl>
					<dl>
						<dt th:text="#{inquiry.enfStatusDetail.secondPaymentDueDate}"></dt>
						<th:block th:if="${tfcEnfStatusDetail.fineNtcInfo.secondFineNtcDdln == null}">
							<dd>-</dd>
						</th:block>
						<th:block th:unless="${tfcEnfStatusDetail.fineNtcInfo.secondFineNtcDdln == null}">
							<dd th:text="${#dates.format(tfcEnfStatusDetail.fineNtcInfo.secondFineNtcDdln, 'yyyy-MM-dd')}">
							</dd>
						</th:block>
					</dl>
					<dl>
						<dt th:text="#{inquiry.enfStatusDetail.additionalAmount}"></dt>
						<dd
							th:text="${@mozatesCommonUtils.priceFmt(tfcEnfStatusDetail.fineNtcInfo.secondFineNtcPrice ,'MOZAMBIQUE_METICAL')}">
							500 MT</dd>
					</dl>

					<dl>
						<dt th:text="#{inquiry.enfStatusDetail.paymentAmount}">납부 금액</dt>
						<dd
							th:text="${tfcEnfStatusDetail.finePymntInfo.pymntStts == 'Y' ? @mozatesCommonUtils.priceFmt(tfcEnfStatusDetail.finePymntInfo.totalPrice ,'MOZAMBIQUE_METICAL') : '-'}">
							500 MT</dd>
					</dl>
					<dl>
						<dt th:text="#{inquiry.enfStatusDetail.payerName}"></dt>
						<dd
							th:text="${tfcEnfStatusDetail.finePymntInfo.pymntStts == 'Y' ? tfcEnfStatusDetail.finePymntInfo.payerNm : '-'}">
							Name</dd>
					</dl>
					<dl>
						<dt th:text="#{inquiry.enfStatusDetail.paymentDate}"></dt>
						<dd
							th:text="${tfcEnfStatusDetail.finePymntInfo.pymntStts == 'Y' ? #dates.format(tfcEnfStatusDetail.finePymntInfo.pymntDt, 'dd.MM.yyyy') : '-'}">
							asdasd</dd>
					</dl>
					<dl>
						<dt th:text="#{inquiry.enfStatusDetail.payerAgency}"></dt>
						<dd th:text="${tfcEnfStatusDetail.finePymntInfo.pymntStts == 'Y' ? tfcEnfStatusDetail.cmCd.cdNm : '-'}">
							123</dd>
					</dl>

				</div>
			</div>
			<div class="detail-info-wrap">
				<div class="detail-title">
					<h3 th:text="#{inquiry.enfStatusDetail.vehiclePhoto}"></h3>
				</div>
<!--				<div class="fines-inquiry">-->
<!--					<div class="fines-inquiry-item"><img th:src="@{/images/slide_img1.png}" alt="가상이미지"></div>-->
<!--					<div class="fines-inquiry-item"><img th:src="@{/images/slide_img2.png}" alt="가상이미지"></div>-->
<!--					<div class="fines-inquiry-item"><img th:src="@{/images/slide_img3.png}" alt="가상이미지"></div>-->
<!--					<div class="fines-inquiry-item"><img th:src="@{/images/slide_img4.png}" alt="가상이미지"></div>-->
<!--					<div class="fines-inquiry-item"><img th:src="@{/images/slide_img5.png}" alt="가상이미지"></div>-->
<!--					<div class="fines-inquiry-item"><img th:src="@{/images/slide_img2.png}" alt="가상이미지"></div>-->
<!--					<div class="fines-inquiry-item"><img th:src="@{/images/slide_img3.png}" alt="가상이미지"></div>-->
<!--				</div>-->
								<div class="fines-inquiry" th:text="#{inquiry.enfStatusDetail.vehiclePhotoNone}"></div>
			</div>
			<div id="backLinkBox">
				<button class="main-btn out-btn" onclick="openBill2()">MULTA</button>
				<a th:href="@{/inquiry/enfstatus/search.do}" class="sub-btn out-btn"
					th:text="#{inquiry.enfStatusDetail.search}"></a>
			</div>
		</div>
	</div>
</div>

</html>
<script th:inline="javascript">
	function openBill() {
		let url = /*[[@{/inquiry/enfstatus/bill/detail.do}]]*/;
		window.open(url, "new", width=500,height=500);
	}
	
  function openBill2() {
      let url = /*[[@{/inquiry/enfstatus/bill/detail.do}]]*/;
  		let tfcEnfId = /*[[${paramMap.tfcEnfId}]]*/;
			let dvrLcenId = /*[[${paramMap.dvrLcenId}]]*/;
			let vioBrth = /*[[${paramMap.vioBrth}]]*/;
      let form = document.createElement('form');
      form.setAttribute('method', 'post');
      form.setAttribute('action', url);

      // 폼 데이터 추가
      let input1 = document.createElement('input');
      input1.setAttribute('type', 'hidden');
      input1.setAttribute('name', 'tfcEnfId');
      input1.setAttribute('value', tfcEnfId);
      form.appendChild(input1);

      let input2 = document.createElement('input');
      input2.setAttribute('type', 'hidden');
      input2.setAttribute('name', 'dvrLcenId');
      input2.setAttribute('value', dvrLcenId);
      form.appendChild(input2);

      let input3 = document.createElement('input');
      input3.setAttribute('type', 'hidden');
      input3.setAttribute('name', 'vioBrth');
      input3.setAttribute('value', vioBrth);
      form.appendChild(input3);

      const newWindow = window.open('', '_blank');
      newWindow.document.body.appendChild(form);

      form.submit();
    }
    
</script>