<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/layout">

<div layout:fragment="content">
	<div id="container">
		<div id="wrap">
			<h2 id="page-title" th:text="#{inquiry.licenceStatus.title}">면허현황</h2>

			<form id="searchFrm">
				<div id="filterBox">
					<dl>
						<dt class="filterBoxRong" th:text="#{inquiry.pymntStatusSearch.licneceId}">Driving Licence I.D No</dt>
						<dd>
							<input type="text" name="dvrLcenId" id="dvrLcenId" class="base-search"
								th:placeholder="#{inquiry.pymntStatusSearch.licneceId}">
						</dd>
					</dl>
					<dl>
						<dt class="filterBoxRong" th:text="#{inquiry.licenceStatus.birth.date}">Date of Birth</dt>
						<dd>
							<input type="text" name="vioBrth" id="vioBrth" class="base-search"
								th:placeholder="#{inquiry.licenceStatus.birth.date}">
							<button type="button" class="sub-btn" th:text="#{inquiry.pymntStatusSearch.button.search}"
								onclick="searchDriverInfo()">Search</button>
						</dd>
					</dl>
				</div>
			</form>

			<div id="resultWrap">
				<div class="detail-info-wrap none" id="lcenResultWrap">
					<div class="detail-title">
						<h3 th:text="#{inquiry.licenceStatus.title}">면허정보</h3>
					</div>
					<div class="detail-table">
						<dl>
							<dt th:text="#{inquiry.licenceStatus.driver.number}"></dt>
							<dd id="">1524815</dd>
						</dl>
						<dl>
							<dt th:text="#{inquiry.licenceStatus.name}"></dt>
							<dd id="">Mateus Chaves</dd>
						</dl>
						<dl>
							<dt th:text="#{inquiry.licenceStatus.birth.date}"></dt>
							<dd id="">1988-08-18</dd>
						</dl>
						<dl>
							<dt th:text="#{inquiry.licenceStatus.phone}"></dt>
							<dd id="">828152452</dd>
						</dl>
						<dl>
							<dt th:text="#{inquiry.licenceStatus.address}"></dt>
							<dd id="">Avenida Ahmed Sekou Touré 923 R/c, Maputo 1101</dd>
						</dl>
						<dl>
							<dt th:text="#{inquiry.licenceStatus.driver.state}"></dt>
							<dd id="">Active</dd>
						</dl>

						<dl>
							<dt th:text="#{inquiry.licenceStatus.validity.start.date}"></dt>
							<dd id="">2020-11-02</dd>
						</dl>
						<dl>
							<dt th:text="#{inquiry.licenceStatus.expiration.date}"></dt>
							<dd id="">2025-11-02</dd>
						</dl>
						<dl>
							<dt th:text="#{inquiry.licenceStatus.class}"></dt>
							<dd id="">C - Veículo Pesado - acima de 16000Kg (PB)</dd>
						</dl>
						<dl>
							<dt th:text="#{inquiry.licenceStatus.categories.carta}"></dt>
							<dd id="">-</dd>
						</dl>

					</div>
				</div>

				<div id="list-table-wrap">

				</div>
			</div><!-- resultWrap -->

		</div><!-- wrap -->
	</div><!-- container -->
</div>

</html>
<script th:inline="javascript">

	const ajaxContent = document.getElementById("list-table-wrap");

	// TODO :: API 작업	
	function searchDriverInfo() {
		let searchingTxt = /*[[#{inquiry.licenceStatus.searching}]]*/;
		ajaxContent.innerText = searchingTxt;
		
		let searchValue = document.getElementById("vioBrth").value;
		if (searchValue == '') {
			alert("Please enter value");
			ajaxContent.innerText = "";
			document.getElementById('lcenResultWrap').classList.add('none');
			document.getElementById("vioBrth").focus();
			return false;
		}

		let dvrLcenId = document.getElementById("dvrLcenId").value;
		if (dvrLcenId == '') {
			alert("Please enter value");
			ajaxContent.innerText = "";
			document.getElementById('lcenResultWrap').classList.add('none');
			document.getElementById("dvrLcenId").focus();
			return false;
		}

		// dvrLcenId
		let searchType = "birthDtAndLcenId";

		const fetcher = new DriverSelectAPI();

		fetcher.fetchData(searchType, searchValue, function (data) {
			// TODO :: API 작업
			console.log(data);
			document.getElementById('lcenResultWrap').classList.remove('none');

			// 단속이력 조회
			const formData = new FormData(document.getElementById("searchFrm"));
			
			fetch('/inquiry/licencestatus/enf/list.ajax', {
				method: 'post',
				body: formData
			})
				.then(response => response.text())
				.then((html) => {
					ajaxContent.innerHTML = html;
				});
		});


	}

	// TODO::시연&개발 끝나면 삭제
	$("#page-title").click(function () {
		$("#vioBrth").val("1988-08-18");
		$("#dvrLcenId").val("1524815");
	});

</script>