<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/layout">
	
	<div layout:fragment="content">
		<div id="container">
			<div id="wrap">
				<h2 id="page-title" th:text="#{inquiry.licneceDetail.title}">면허현황</h2>
				<div class="detail-info-wrap detail-info-wrap">
					<div class="detail-title">
						<h3 th:text="#{inquiry.licneceDetail.sub.title.enfDetail}">면허 단속 이력 상세 정보</h3>
						<div id="billWrap">
							<span th:text="#{inquiry.licneceDetail.enforcementId}"></span>
							<span id="billNumber" th:text="${tfcEnfStatusDetail.tfcEnfId}">M1318-2023-90010893</span>
						</div>
					</div>
				 	<div class="detail-table detail-table-7">
						<dl class="brNone">
							<dt th:text="#{inquiry.licneceDetail.driver.number}"></dt>
							<dd th:text="${tfcEnfStatusDetail.vhRegNo}">CA 688-566</dd>
						</dl>
						<dl>
							<dt th:text="#{inquiry.licneceDetail.violator}"></dt>
							<dd th:text="${tfcEnfStatusDetail.vioInfo.vioNm}">Inki Moon</dd>
						</dl>
						<dl class="brNone">
							<dt th:text="#{inquiry.licneceDetail.place.violation}"></dt>
							<dd th:text="${tfcEnfStatusDetail.roadAddr}">Street 50</dd>
						</dl>
						<dl>
							<dt th:text="#{inquiry.licneceDetail.violation.date}"></dt>
							<dd th:text="${#dates.format(tfcEnfStatusDetail.tfcEnfDt, 'yyyy-MM-dd')}">23-01-25 11:20:19</dd>
						</dl>
						<dl class="detail-content">
							<dt class="detail19" th:text="#{inquiry.licneceDetail.violation.statute}">위반 법률</dt>
							<dd class="detail80">
								<p th:each="item : ${fineList}" th:text="${item.tfcLwInfo.lawNm}"></p>
							</dd>
						</dl>
						<dl class="detail-content boder-bottom">
							<dt th:text="#{inquiry.licneceDetail.violation.content}"></dt>
							<dd th:text="${tfcEnfStatusDetail.tfcEnfDetail}">Speed ​​(speed limit 80km/h, driving speed 120km/h, speed exceeding 40km/h)</dd>
						</dl>
					</div>
				</div>					
				<div class="detail-info-wrap">
					<div class="detail-title">
						<h3 th:text="#{inquiry.licneceDetail.paymentAndPeriod}">납부금액 및 기간</h3>
					</div>
					<div class="detail-table">
						<dl class="brNone">
							<dt th:text="#{inquiry.licneceDetail.pay.1st.deadline}"></dt>
							<dd th:text="${#dates.format(tfcEnfStatusDetail.fineNtcInfo.firstFineNtcDdln, 'yyyy-MM-dd')}">01.01.2024</dd>
						</dl>
						<dl>
							<dt th:text="#{inquiry.licneceDetail.date.pay}"></dt>
							<dd th:text="${@mozatesCommonUtils.priceFmt(tfcEnfStatusDetail.fineNtcInfo.firstFineNtcPrice ,'MOZAMBIQUE_METICAL')}">500MT</dd>
						</dl>
						<dl class="brNone">
							<dt th:text="#{inquiry.licneceDetail.pay.2nd.deadline}"></dt>
							<th:block th:if="${tfcEnfStatusDetail.fineNtcInfo.secondFineNtcDdln == null}">
								<dd>-</dd>
							</th:block>
							<th:block th:unless="${tfcEnfStatusDetail.fineNtcInfo.secondFineNtcDdln == null}">
								<dd th:text="${#dates.format(tfcEnfStatusDetail.fineNtcInfo.secondFineNtcDdln, 'yyyy-MM-dd')}">
								</dd>
							</th:block>
						</dl>
						<dl>
							<dt th:text="#{inquiry.licneceDetail.plus.pay}"></dt>
							<dd th:text="${@mozatesCommonUtils.priceFmt(tfcEnfStatusDetail.fineNtcInfo.secondFineNtcPrice ,'MOZAMBIQUE_METICAL')}"></dd>
						</dl>
						<dl class="brNone">
							<dt th:text="#{inquiry.licneceDetail.pay}"></dt>
							<dd th:text="${tfcEnfStatusDetail.finePymntInfo.pymntStts == 'Y' ? @mozatesCommonUtils.priceFmt(tfcEnfStatusDetail.finePymntInfo.totalPrice ,'MOZAMBIQUE_METICAL') : '-'}"></dd>
						</dl>
						<dl>
							<dt th:text="#{inquiry.licneceDetail.name}"></dt>
							<dd th:text="${tfcEnfStatusDetail.finePymntInfo.pymntStts == 'Y' ? tfcEnfStatusDetail.finePymntInfo.payerNm : '-'}">name</dd>
						</dl>
						<dl class="brNone boder-bottom">
							<dt th:text="#{inquiry.licneceDetail.payment.date}"></dt>
							<dd th:text="${tfcEnfStatusDetail.finePymntInfo.pymntStts == 'Y' ? #dates.format(tfcEnfStatusDetail.finePymntInfo.pymntDt, 'yyyy-MM-dd') : '-'}">납부일</dd>
						</dl>
						<dl class="boder-bottom">
							<dt th:text="#{inquiry.licneceDetail.payment.bank}"></dt>
							<dd th:text="${tfcEnfStatusDetail.finePymntInfo.pymntStts == 'Y' ? tfcEnfStatusDetail.cmCd.cdNm : '-'}">납부 방법</dd>
						</dl>
					</div>
				</div>					
				<div class="detail-info-wrap">
					<div class="detail-title">
						<h3 th:text="#{inquiry.licneceDetail.title2}">단속 차량 사진</h3>
					</div>
					<th:block th:if="${#lists.isEmpty(tfcEnfStatusDetail.tfcEnfFileInfoList)}">
						<div class="fines-inquiry" th:text="#{inquiry.enfStatusDetail.vehiclePhotoNone}"></div>
					</th:block>
					<th:block th:unless="${#lists.isEmpty(tfcEnfStatusDetail.tfcEnfFileInfoList)}">
						<div class="fines-inquiry">
							<div class="fines-inquiry-item" th:each="itm : ${tfcEnfStatusDetail.tfcEnfFileInfoList}">
								<img th:src="@{/inquiry/enf/image.do(fileId = ${itm.vioFileNo})}">
							</div>
						</div>
					</th:block>
				</div>				
				<div class="btn-wrap-end">
<!--					<a th:href="@{/inquiry/licencestatus/search.do}" class="sub-btn out-btn" th:text="#{inquiry.licneceDetail.list}">목록</a>-->
					<a onclick="history.back()" class="sub-btn out-btn" th:text="#{inquiry.licneceDetail.list}">목록</a>
				</div>	
			</div>		
		</div>
	</div>
</html>
