<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="headerFragment" id="header">
	<div id="header-contents">
		<div class="center-wrap">
			<div class="logo">
				<a th:href="@{/}"><img th:src="@{/images/logo2.png}" alt="logo"></a>
			</div>

		
				<i class="mobile-menu-icon" onclick="mobileMenu()"></i>
<!--				<img th:src="@{/images/hamburger.png}" alt="menu" onclick="mobileMenu('mobile-menu')">-->
		

			<div id="nav-list">
				<ul>
					<li>
						<a th:href="@{/inquiry/enfstatus/search.do}" title="Fines Inquiry"
							th:text="#{main.header.inquiry}"></a>
						<ul id="nav-drop-menu">
							<li><a th:href="@{/inquiry/enfstatus/search.do}"
									th:text="#{main.header.enforcementStatus}"></a></li>
							<li><a th:href="@{/inquiry/pymntstatus/search.do}"
									th:text="#{main.header.PaymentDelinquency}"></a></li>
							<li><a th:href="@{/inquiry/licencestatus/search.do}"
									th:text="#{main.header.licenseStatus}"></a></li>
							<li><a th:href="@{/inquiry/detection/list.do}" th:text="#{main.header.detectionStatus}"></a>
							</li>
						</ul>
					</li>
					<li>
						<a th:href="@{/complain/list.do}" title="Complaints Inquiry"
							th:text="#{main.header.reception}"></a>
						<ul id="nav-drop-menu">
							<li><a th:href="@{/complain/list.do}" th:text="#{main.header.complaints}"></a></li>
							<li><a th:href="@{/objection/list.do}" th:text="#{main.header.objection}"></a></li>
						</ul>
					</li>
					<li>
						<a th:href="@{/traffic/info/safeinfo/list.do}" title="Customer Service"
							th:text="#{main.header.infomation}"></a>

						<ul id="nav-drop-menu">
							<li><a th:href="@{/traffic/info/safeinfo/list.do}"
									th:text="#{main.header.trafficSafetyInfo}"></a></li>
							<li><a th:href="@{/traffic/info/edu/list.do}" th:text="#{main.header.trafficSafetyEdu}"></a>
							</li>
							<li><a th:href="@{/traffic/info/lawinfo/list.do}"
									th:text="#{main.header.trafficLawInfo}"></a></li>
							<li><a th:href="@{/stat}" th:text="#{main.header.analysis}"></a></li>
						</ul>
					</li>
					<li>
						<a th:href="@{/info/notice/list.do}" title="Customer Service"
							th:text="#{main.header.notification}"></a>
						<ul id="nav-drop-menu">
							<li><a th:href="@{/info/notice/list.do}" th:text="#{main.header.notice}"></a></li>
							<li><a th:href="@{/info/faq/list.do}" th:text="#{main.header.faq}"></a></li>
							<li><a th:href="@{/info/qna/list.do}" th:text="#{main.header.qna}"></a></li>
							<li><a th:href="@{/info/penaltyplace/list.do}" th:text="#{main.header.finePayment}"></a>
							</li>
						</ul>
					</li>

				</ul>
			</div>

			<!--			<div class="login">-->
			<!--				<a th:href="@{/login}" th:text="#{main.header.login}"></a>-->
			<!--				 기능 추가시 login 과 change 되어야함 -->
			<!--				<a th:href="@{/mypage}" th:text="#{main.header.myPage}"></a>-->
			<!--			</div>-->
			<!--			<div class="mobile-menu">-->
			<!--				<img src="/images/hamburger.png" th:alt="#{main.header.menu}" class="hamburger">-->
			<!--			</div>-->
		</div>
	</div>



	<div id="mobileMenu">
		<div class="mobile-nav-list">
			<ul>
				<li class="mobileDropList">
					<div class="mobileMenuTitleWrap" onclick="mobileDrop()">
						<div class="mobile-title" th:text="#{main.header.inquiry}"></div>
						<i class="mobile-arrow"></i>
					</div>
					<ul class="mobile-nav-sub-list">
						<li>
							<a th:href="@{/inquiry/enfstatus/search.do}" th:text="#{main.header.enforcementStatus}">
								메뉴1
							</a>
						</li>
						<li>
							<a th:href="@{/inquiry/pymntstatus/search.do}" th:text="#{main.header.PaymentDelinquency}">
								메뉴2
							</a>
						</li>
						<li>
							<a th:href="@{/inquiry/licencestatus/search.do}" th:text="#{main.header.licenseStatus}">
								메뉴3
							</a>
						</li>
						<li>
							<a th:href="@{/inquiry/detection/list.do}" th:text="#{main.header.detectionStatus}">
								메뉴4
							</a>
						</li>
					</ul>
				</li>
				<li class="mobileDropList">
					<div class="mobileMenuTitleWrap" onclick="mobileDrop()">
						<div class="mobile-title" th:text="#{main.header.reception}"></div>
						<i class="mobile-arrow"></i>
					</div>
					<ul class="mobile-nav-sub-list">
						<li>
							<a th:href="@{/complain/list.do}" th:text="#{main.header.complaints}">
								메뉴1
							</a>
						</li>
						<li>
							<a th:href="@{/objection/list.do}" th:text="#{main.header.objection}">
								메뉴2
							</a>
						</li>
					</ul>
				</li>
				<li class="mobileDropList">
					<div class="mobileMenuTitleWrap" onclick="mobileDrop()">
						<div class="mobile-title" th:text="#{main.header.infomation}"></div>
						<i class="mobile-arrow"></i>
					</div>
					<ul class="mobile-nav-sub-list">
						<li>
							<a th:href="@{/traffic/info/safeinfo/list.do}" th:text="#{main.header.trafficSafetyInfo}">
								메뉴1
							</a>
						</li>
						<li>
							<a th:href="@{/traffic/info/edu/list.do}" th:text="#{main.header.trafficSafetyEdu}">
								메뉴2
							</a>
						</li>
						<li>
							<a th:href="@{/traffic/info/lawinfo/list.do}" th:text="#{main.header.trafficLawInfo}">
								메뉴3
							</a>
						</li>
						<li>
							<a th:href="@{/stat}" th:text="#{main.header.analysis}">
								메뉴4
							</a>
						</li>
					</ul>
				</li>
				<li class="mobileDropList">
					<div class="mobileMenuTitleWrap" onclick="mobileDrop()">
						<div class="mobile-title" th:text="#{main.header.notification}"></div>
						<i class="mobile-arrow"></i>
					</div>
					<ul class="mobile-nav-sub-list">
						<li>
							<a th:href="@{/info/notice/list.do}" th:text="#{main.header.notice}">
								메뉴1
							</a>
						</li>
						<li>
							<a th:href="@{/info/faq/list.do}" th:text="#{main.header.faq}">
								메뉴2
							</a>
						</li>
						<li>
							<a th:href="@{/info/qna/list.do}" th:text="#{main.header.qna}">
								메뉴3
							</a>
						</li>
						<li>
							<a th:href="@{/info/penaltyplace/list.do}" th:text="#{main.header.finePayment}">
								메뉴4
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>
</html>