@charset "UTF-8";
/* button  */
.basic-btn {
	display:inline-block;
	padding:10px;
	font-size:16px;
	color:#fff;
	border:none;
	line-height:1;
	background-color:#a8a8a8;
	text-align:center;
	cursor:pointer;
	border-radius: 6px;
}
.out-btn {
	width:80px;
	font-size:18px;
	border-radius: 6px;
}
.main-btn {
	display:inline-block;
	padding:10px;
	font-size:16px;
	color:#fff;
	border:none;
	line-height:1;
	background-color:#00967a;
	border:1px solid #00967a;
	text-align:center;
	cursor:pointer;
	border-radius: 6px;
	min-width: 90px;
}
.sub-btn {
	display:inline-block;
	padding:10px;
	font-size:16px;
	color:#fff;
	border:none;
	line-height:1;
	background: #565656;
	text-align:center;
	cursor:pointer;
	border-radius: 6px;
	min-width: 90px;
}
.delete-btn {
	display:inline-block;
	padding:10px;
	font-size:16px;
	color:#fff;
	border:none;
	line-height:1;
	background: #d90000;
	text-align:center;
	cursor:pointer;
	border-radius: 6px;
	min-width: 70px;
}
.filter-btn {
	display:inline-block;
	padding:10px;
	font-size:16px;
	line-height:1;
	background: #fff;
	border:1px solid #e2e5eb;
	text-align:center;
	cursor:pointer;
	border-radius: 6px;
	min-width: 70px;
}
.filter-btn.on {
	background: #00967a;
	border:1px solid #00967a;
	color: #fff;
}

.base-search {
	padding:10px;
	font-size:16px;
	border:1px solid #e2e5eb;
	line-height:1;
	outline: none;
	border-radius: 6px;
	background: #fff;
	max-height: 40px;
}
.base-select {
	padding: 10px 35px 10px 10px;
	border:1px solid #e2e5eb;
	outline: none;
	-webkit-appearance:none; /* for chrome */
    -moz-appearance:none; /*for firefox*/
    appearance:none;
    line-height:1;
    background:#fff url('/images/arrow-select.png') no-repeat 90% 50%;
    border-radius: 6px;
    font-size:14px;
    color:#000;
    height:40px;
}
.required {
	color:#00967a;
}
.detail-input {
	padding: 10px;
	width:100%;
	border-radius: 6px;
	border:1px solid #e2e5eb;
}
.btn-wrap-between {
	margin-top:60px;
	display: flex;
	justify-content: space-between;
}
.btn-wrap-end {
	margin-top:60px;
	display: flex;
	gap:8px;
	justify-content: end;
}
#download {
	font-weight: 500;
	color: #8d8d8d;
}
#download:hover {
	color: #315DFB;
	border-bottom: 1px solid #315DFB;
}
#pagination-container {
	width:100%;
}
#pagination {
	margin-top:60px;
	display: flex;
	flex-wrap:wrap;
	gap:20px;
	align-items: center;
	justify-content: center;
}
.page-item a {
	width:30px;
	height:30px;
	display: block;
	text-align: center;
	line-height: 30px;
	position: relative;
}
.page-item a.on {
	background: #f1f1f1;
	border-radius: 30px;
}
.page-item a i {
	position: absolute;
	left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.page-item a:hover {
	background: #CCCCCC;
	border-radius: 30px;
}
#page-first-arrow {
	display: block;
	width:10px;
	height:14px;
	background: url(../images/page-arrow-left-end.png) no-repeat center;
}
#page-left-arrow {
	display: block;
	width:6px;
	height:12px;
	background: url(../images/page-arrow-left.png) no-repeat center;
}
#page-right-arrow {
	display: block;
	width:6px;
	height:12px;
	background: url(../images/page-arrow-right.png) no-repeat center;
}
#page-last-arrow {
	display: block;
	width:10px;
	height:14px;
	background: url(../images/page-arrow-right-end.png) no-repeat center;
}
.btn_wrap {
	margin-top:16px;
	display: flex;
	gap: 16px;
}
input {
	border: none;
	outline: none;
	font-size:16px;
}
textarea {
	outline: none;
}
input[type="checkbox"] {
	accent-color: #00967a;
}
/*에러페이지*/
#error-container {
	text-align: center;
    position: relative;
    top: -50%;
    left: -50%;
    transform: translate(50%, 50%);
    display: flex;
    flex-wrap:wrap;
    gap:10px;
}
#error-container > div {
	width:100%;	
}
#error-btn a {
	background: #00967a;
    padding: 20px;
    display: inline-flex;
    margin-top: 20px;
    border-radius:6px;
    color: #fff;
}




/*테블릭*/
@media all and (max-width: 1150px){
	.category {
		display: none;
	}
	
	/* list common */
	#infoTableMobile {
		display:table-row-group;
	}
	#infoTablePc {
		display:none;
	}
	.box-item {
		height:140px;
	}
	.submit-btn {
		margin-bottom: 8px;
	}
	.cm-info-wrap {
		margin-top:30px !important;
	}
}

@media all and (max-width: 767px) {
	.main-btn {
		padding: 16px 0;
		font-size:15px;
		font-weight: 500;
		width:100%;
	}
	.sub-btn {
		padding: 18px 0;
		font-size:15px;
		font-weight: 500;
		width:100%;
	}
	.btn-wrap-end {
		margin-top:20px;
		display: flex;
		gap:8px;
		justify-content: end;
		flex-wrap:wrap;
	}
	
}
