@charset "UTF-8";
.top-inner {
	padding:16px;
	background:#006F5B;
}
.top-inner-contents div {
	color: #fff;
}
.top-inner-title {
	font-weight: 600;
}
.top-inner-contents {
	display: flex;
	justify-content: space-between;
	max-width:1200px;
	margin: auto;
}
.top-inner-contents select {
	padding: 0 30px 0 0 !important;
	color: #fff;
	border:none;
	outline: none;
	padding: 0;
	background: url('/images/arrow-select-white.png') no-repeat 90% 50%;
	line-height:inherit;
	-o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size:14px;
}
.top-inner-contents div select option {
	color: #000;
}
#header {
	background: #fff;
	border-bottom:1px solid #ebebeb;
}
#header-contents {
	max-width:1200px;
	margin:auto;
}
#container {
	max-width:1200px;
	min-height:800px;
	margin:60px auto;
}
.sticky-wrapper {
	width:auto !important;
	height: auto !important;
}

.center-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#nav-list > ul {
	display: flex;
	gap: 80px;
	position: relative;
}
#nav-list > ul > li {
	text-align: center;
	padding: 30px 0;
}
#nav-list > ul > li > a {
	font-size:20px;
	font-weight: 600;
}
.mobileMenuTitleWrap {
	display: flex;
	align-items: center;
	padding: 16px;
	border-bottom: 1px solid #cacaca;
	justify-content: space-between;
}
.mobileMenuTitleWrap.on {
	background: #0069b7;
}
.mobile-title {
	font-size:17px;
	font-weight: 600;
	color:#0069b7;
}
.mobile-title.on {
	color: #fff;
}
.mobile-arrow {
	width: 12px;
	height: 7px;
	background: url('/images/mobile-arrow.png') no-repeat center / cover;
}
.mobile-arrow.on {
	transform: rotate(180deg);
	background: url('/images/mobile-arrow-on.png') no-repeat center / cover;
}
#nav-drop-menu {
	position: absolute;
    top:80px;
    background: #fff;
    box-shadow: 0px 1px 5px 0 rgba(0,0,0,0.2);
    border-radius: 6px;
    width: 197px;
    z-index: 1;
    display: none;
    overflow:hidden;
}
#nav-list > ul > li:hover ul {
	display: block;
}
#nav-drop-menu > li {
	text-align: left;
}
#nav-drop-menu > li a:hover {
	background: #efefef;
}
#nav-drop-menu li a {
	font-weight: 300;
	font-size:16px;
	padding:12px;
	display: block;
}
 .arrow {
	 display: none;
	 width:7.35px;
	 height:12.8px;
	 background:url(/images/arrow.png) no-repeat center / cover;
	 transition: 0.5s;
	 transform: rotate(-90deg);
 }
  .arrow.on {
	transform: rotate(90deg);
	transition: 0.5s;
 }
 /*모바일 메뉴*/
#mobileMenu {
	position: fixed;
	top:72px;
	right:0;
	width:100%;
	height:100%;
	background: white;
    z-index: 99999;
    display: none;
}
.mobile-menu-icon {
	width: 28px;
	height: 23px;
	background:url('/images/hamburger.png') no-repeat center / cover;
	display: none;
}
.mobile-menu-icon.on {
	width: 23px;
	background:url('/images/mobile_close.png') no-repeat center / cover;
}
.mobile-close img {
	width:14px;
}
.mobile-nav-list > ul {
	border-top: 1px solid #cacaca;
}
.mobile-nav-list > ul > li:last-child {
	margin-bottom: 0px;
}
.mobile-nav-list ul li:last-child {
	margin:0;
}
.arrow {
	display: block;
}
.mobile-nav-list ul li a {
	padding: 16px;
	display: block;
}
.mobile-nav-list ul li a span {
	font-size:14px;
	width:72%;
}
.mobile-list-title {
	font-weight: bold;
}
.mobile-nav-sub-list {
	background: #f6f6f6;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-in;
}
.mobile-nav-sub-list.on {
	max-height:400px;
}
.mobile-nav-sub-list li {
	width:100%;
	border-top: 1px solid #cacaca;
}
.mobile-nav-sub-list li:first-child {
	border-top: none;
}
/*.mobile-nav-sub-list.on {*/
/*	display: block;*/
	
/*}*/
 /*모바일 메뉴 끝*/

.drop-list {
	display: none;
	padding:16px 0;
	position: absolute;
	top: 70.1px;
	z-index: 9999;
	background: #fff;
	width:100%;
}
.drop-center {
	width:1300px;
	margin:auto;
	/*display: flex;
	gap:80px;*/
}
.drop-center ul {
	display: inline-block;
	vertical-align: top;
	width:100px;
	margin-right:76px;
	position: relative;
	left:300px;
}
.drop-center ul li {
	padding:15px 0;
	text-align: center;
	letter-spacing: -1px;
}
.drop-center ul li a:hover { 
	border-bottom:3px  solid #00AE8E;  
}
#mobile-menu-btn {
	display: none;
}
#mobile-menu {
	display: none;
}
.mobile-menu-close {
	display: none;
}
#breadcrumb {
	background: #F5FAF9;
	padding:12px;
}
#breadcrumb ul {
	max-width:1200px;
	margin: auto;
	display: flex;
	gap:20px;
	align-items: center;
}
#breadcrumb ul li {
	font-size:12px;
}
#footer {
	padding: 36px 0;
	background: #2c2f3c;
}
.footer-container {
	display: flex;
	justify-content: space-between;
	align-items: end;
	max-width:1200px;
	margin: auto;
}
#address {
	line-height: 20px;
	color: #fff;
	font-weight: 300;
}
#copyright {
	color: #fff;
	font-weight: 300;
}

/*테블릭*/
@media all and  (max-width: 1150px){
	#header-contents {
		padding: 20px;
	}
	.mobile-menu-icon {
		display: block;
	}
	#nav-list {
		display: none;
	}
	#mobileMenu {
		top: 92px;
	}
	.drop-list {
		display: none !important;	
	}
	#mobile-menu-btn {
		display: block;
		cursor: pointer;
	}
	#container {
		margin:0px auto;
		padding: 20px;
		min-height: 550px;
	}
	#mapChartContainer {
		width: 90% !important;
	}
	#footer {
		padding:20px;
	}
	
}

/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/ 
@media all and (max-width:767px) {
	#mobileMenu {
		top: 71px;
	}
	.top-inner {
		display: none;
	}
	.logo img {
		width:150px;
	}
	#wrap {
		overflow: hidden;
	}
	#mapChartContainer {
		padding-top:0 !important;
		width: 100% !important;
	}
	#map {
		height: 400px !important;
	}
	#chartTitle {
		display: none;
	}
	#chartAbout {
		display: none;
	}
	 .footer-container {
		 display: block;
	 }
	 #address {
		 width:100%;
		 font-size:14px;
	 }
	 #copyright {
		 margin-top:20px;
		 width:100%;
		 font-size:14px;
	 }
} 
