@charset "UTF-8";
.cm-info-wrap {
	margin-top:40px;
}
.cm-info-wrap h1 {
	padding: 16px;
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    background: #f4f5f9;
    border-top: 1px solid #c4c9ce;
}
/*.cm-info-wrap h1::before {*/
/*	content: '';*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 3px;*/
/*    border-radius: 20px;*/
/*    border: 4px solid #2c77c5;*/
/*    padding: 3px;*/
/*}*/
.cm-input-wrap {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
}
.cm-input-list {
	width: 100%;
}
.cm-input-list dl {
    display: table;
    max-width: 1200px;
}
.cm-input-list dl dt {
	width:170px;
	display: table-cell;
	word-break: break-all;
	vertical-align: middle;
	margin-bottom: 8px;
}
.cm-input-list dl dd {
	width: 1060px;
    display: table-cell;
    border-radius: 6px;
    vertical-align: middle;
}
.control-label {
	position: relative;
}
.control-label::before {
	content: '*';
	position: absolute;
	top: 7px;
	right: -17px;
	color: #e11d1d ;
	font-weight: 500;
}
.cm-input-list .base-textarea {
	border-color: #e2e5eb ;
	width:100%;
	padding: 10px;
	height: 200px;
	border-radius: 6px;
}
.cm-detail-input-list {
	display: table;
	 border-bottom: 1px solid #cfcfcf;
	 width: 50%;
}
.cm-detail-input-list:last-child {
	border:none !important;
	width: 100%;
}
.cm-detail-input-list > dl {
	margin:0 !important;
	display: table-row;
}
.cm-detail-input-list > dl dt {
	font-weight: 400;
    padding: 16px;
    background: #f7f7f7;
    text-align: center;
    min-width: 200px;
}
.cm-detail-input-list > dl > dd {
	padding: 16px;
}
.cm-detail-col3 {
	width: 100%;
}
.cm-detail-col3 dl dt {

}
.cm-detail-border {
	padding:10px;
	border:1px solid #e2e5ed;
}
.cm-input-list select {
	 background:#fff url('/images/arrow-select.png') no-repeat 99% 50%;
	 width:100%;
	 border: 1px solid #e2e5eb;
}
/*공통 서브 테이블*/
#page-title {
	padding-bottom: 16px;
	border-bottom: 1px solid #e3e3e3;
	font-size:24px;
	font-weight:600;
}
.detail-info-wrap {
	position:relative;
	margin-top:28px;
	overflow:hidden;
}
.detail-title {
	display:flex;
	justify-content:space-between;
	align-items:center;
	margin-bottom:12px;
}
.detail-info-wrap h3 {
	padding-left:23px;
	font-size:20px;
	font-weight: 400;
	position: relative;
}
.detail-info-wrap h3::after {
	content: '';
    position: absolute;
    left: 0;
    top: 3px;
    border-radius: 20px;
    border: 4px solid #2c77c5;
    padding: 3px;
}
.detail-table {
	display: flex;
	flex-wrap: wrap;
	border-top:1px solid #ededed;
}
.detail-table-dection {
	margin-top: 20px;
}
.detail-table-dection dl:last-child {
	border-bottom:1px solid #ededed !important;
}
.detail-table dl {
	display: table;
	align-items: center;
	width:50%;
	border-bottom:1px solid #ededed;
}
.detail-table dl:nth-child(7) {
	border-bottom:none;
}
.detail-table dl:last-child {
	border-bottom:none;
}
.detail-table dl dt dd {
	width:60%;
}
.detail-table dl dt {
	width:40%;
	display: table-cell;
	background:#f9f9f9;
	text-align:center;
	padding:16px;
	vertical-align: middle;
	font-weight: 600;
}
.detail-table dl dd {
	padding:16px;
	display: table-cell;
	vertical-align: middle;
}
.detail-table .detail-content {
	width:100%;
}
.detail-table-7 dl:last-child dt {
	width:19.999% ;
}
.detail-table-7 dl:last-child dd {
	width:80.11%;
}
.detail-table-7 .detail19 {
	width:19.999% ;
}
.detail-table-7 .detail80 {
	width:80.11%;
}
.box-content {
	display:flex;
	gap:2%;
}
.box-item {
	position:relative;
	width:32%;
	height:220px;
	background-color:#f3f3f3;
}
.box-txt {
	padding:18px;
}
.box-total {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
}
.box-total span {
	font-size:40px;
	font-weight:600;
	color:#00967a;
}
#base-table > ul > li {
	border-bottom:1px solid #dee2e4;
	text-align:center;
	font-weight: 500;
	cursor: pointer;
}
.base-table-cm {
	display: table;
	table-layout: fixed;
	width:100%;
}
.base-table-cm li {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	padding:24px;
}
.base-table-th {
	border-top:2px solid #32659b;
	background: #f9f9f9;
}
.base-table-td:hover {
	background: #f9f9f9;
}
.baseCmTable > li {
	border-bottom:1px solid #e4e9ed;
}
/*공통테이블 끝*/


/*공지사항,faq,교통안전정보,교통안정교육 공통*/
#cm-notice-wrap {
	margin-bottom:16px;
	width:100%;
	border-top:1px solid #32659b;
}
#cm-notice-title {
	padding: 20px 0;
	text-align: center;
	font-size:20px;
	font-weight: 500;
	background:#f9f9f9;
}
.cm-notice-info {
	padding: 20px;;
	display: flex;
	justify-content: space-between;
	border-bottom:1px solid #e0e0e0;
}
.cm-notice-info-list {
	display: flex;
	gap:12px;
	align-items: center;
}
#cm-notice-info-date {
	display: flex;
	gap:16px;
}
.cm-notice-info-list dt {
	padding-left:12px;
	font-weight: 400;
	position: relative;
	color: #8d8d8d;
}
.cm-notice-info-list dt::after {
	content: '';
	width:5px;
	height:5px;
	background: #8d8d8d;
	border-radius: 30px;
	position: absolute;
	top:5px;
	left:0px;
}
.cm-notice-info-list dd {
	font-weight: 400;
	color: #0069b7;
}
#cm-notice-con {
	padding: 32px;
	border-bottom:1px solid #e0e0e0;
}
/*공지사항,faq,교통안전정보,교통안정교육 공통끝*/


.table-vertical {
	vertical-align:top !important;
}
.textarea-top {
	padding-top:16px ;
	vertical-align: top !important;
}
.check-wrap .search {
	margin-right:16px;
}
.check-title {
	margin-right:32px;
}
#file-wrap .upload-name {
	padding:10px;
	border:1px solid #e2e5eb;
	width:100%;
	vertical-align: middle;
	border-radius: 6px;
}
#file-wrap .fileUpBtn {
    padding: 10px ;
    display: inline-block;
	border:1px solid #e2e5eb;
    vertical-align: middle;
    cursor: pointer;
    font-size:16px;
    border-radius: 6px;
}
.file-inner {
	display: flex;
	gap: 8px;
}
#file-wrap input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0; 
}
.file-text {
	margin-top:16px;
	font-size:14px;
	color:#0075cf !important;
}
/*이의제기 끝*/


#listSearchTableOpiton {
	display: flex;
	justify-content: space-between;
	align-items: end;
	margin-bottom: 8px;
}
.modify-button-set {
	float:right;
	margin-top:28px;
}

.info-table input[type="text"], .info-table input[type="password"] {
	display:inline-block;
	width:200px;
	padding:0;
	font-weight:200;
	border:none;
	outline:none;
}
#infoTableMobile {
	display:none;
}
#infoTablePc {
	display:table-row-group;
}
#filterBox {
	padding: 24px;
	margin-top:16px;
	background:#f4f6fb;
}
#filterBox dl {
	display: flex;
	gap:24px;
	align-items: center;
	margin-bottom:14px;
}

/*추후 폼테그 씌워지면 삭제해야됨*/
#filterBox dd {
	display: flex;
	gap:8px;
	align-items: center;
}
/*추후 폼테그 씌워지면 삭제해야됨*/

#filterBox dd form {
	display: flex;
	gap:8px;
	align-items: center;
}
#filterBox dl:last-child {
	margin-bottom:0px;
}
#filterBox dt {
	padding-left:15px;
	position: relative;
    width: 80px;
   	font-weight: 500;
}
#filterBox dt::before {
	content: '';
	width:5px;
	height:5px;
	background: #000;
	border-radius: 20px;
	position: absolute;
	left:0;
	top:6px;
}
.filterBoxRong {
	width:220px !important;
}
#linkBox label {
	margin-right:6px;
}
#linkBox label input[type="radio"]{
	display:none;
}
#listSearchSelect {
	display: flex;
	gap:8px;
}
#searchBox {
	display: flex;
	gap:8px;
	align-items: center;
}
#searchBox input:nth-last-child(1) {
	margin-right:0;
}
#list-table-wrap {
	margin-top:60px;
}
#listTableOpiton {
	display:flex;
	justify-content:space-between;
	align-items:end;
	margin-bottom:16px;
}
#listSearchTotal {
	display: flex;
	gap:4px;
	font-size:14px;
}
#listSearchTotal span {
	color:#ff0000;
	font-weight: 600;
}
.detail-page:hover {
	opacity:0.6;
	cursor:pointer;
}
#billNumber {
	font-weight:600;
}
.fines-inquiry {
	width: 100%;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x proximity;
    gap: 16px;
    padding-bottom: 10px;
}
.fines-inquiry-item {
	width: 200px;
	height: 200px;
	scroll-snap-align: start;
	display: flex;
    align-items: center;
    border: 1px solid #efefef;
}
.fines-inquiry-item img {
	width: 100%;
}
.detection-inquiry-item {
	width: calc(25.3% - 16px);
}
.cm-dection-img {
	width: 100%;
}
#backLinkBox {
	margin-top:24px;
	text-align:right;
}
.bank-title {
	margin-bottom:28px;
	font-size:20px !important;
	text-align:center;
	font-weight: 500;
}
#receiptDateBox {
	margin-top:16px;
	color: #00c19d;
}
#bankPaymentBox {
	margin-top:24px;
	margin-bottom:60px;
}
#approvalBox {
	float: right;
	width:160px;
	border:1px solid #dee2e4;
	text-align:center;
}
#approval {
	padding:16px 0;
	border-bottom:1px solid #dee2e4;
}
#stamp {
	height:120px;
}
/*통계 css*/
#statContainer {
	width:100%;
	background: #f2f7fb;
}
#mapChartContainer {
	width: 1300px;
    padding: 20px 0 80px 0;
    border-radius: 6px;
    overflow: hidden;
    margin: auto;
}
#mapWrap {
	width: 100%;
	background: #fff;
	overflow:hidden;
}
#map {
	width:100%;
	height:550px;
}
.ctOpTitle {
    margin-bottom: 14px;
    display: flex;
    gap: 6px;
    align-items: center;
}
.ctOpTitle span {
	background: #0069b7;
    color: #fff;
    font-weight: 500;
    padding: 4px;
    border-radius: 4px;
    font-size: 12px;
}
.ctOpTitle h4 {
	font-weight: 600;
}
#chartWrap {
	margin-top:30px;
}
#mapContents {
	padding: 30px;
	
}
.mapDateListWrap {
	display: flex;
	gap: 8px;
	align-items: center;
}
.mapDateList {
	position: relative;
}
.dateInput {
	padding: 7px;
    border: 1px solid #c7c7c7;
    border-radius: 6px;
}
.dateTitle {
	position: absolute;
	top: 0;
	background: #fff;
	padding: 6px;
}
#chartTitle {
	margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    padding-top: 60px;
}
#chartAbout {
	text-align: center;
    color: #0069b7;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
}
.chartList {
	width:100%;
}
#chartBtnWrap {
	margin-bottom: 20px;
	display: flex;
	gap: 8px;
}
.chartBtnList {
	background: #f2f7fb;
	width: calc(8px + 25%);
	text-align: center;
	border-radius: 6px;
	overflow: hidden;
}
.chartBtnList label {
	padding: 13px;
	display: block;
	cursor: pointer;
	width: 100%;;
}
.chartBtnList input[type=radio] {
	display: none;
}
.chartBtnList input[type=radio]:checked + label {
	background: #0069b7;
	color: #fff;
	font-weight: 500;
}
.dateLabel {
	display: none;
}
#mobileChartBtn {
	display: none;
}
#mobileChartBtn select {
	padding: 10px;
	width: 100%;
	border-radius: 6px;
}
/*통계 css 끝*/
.uploadWrap {
	margin-top:20px;
}
#uploadListContainer {
	display: flex;
	gap:8px;
	flex-wrap:wrap;
	max-width: 1000px;
}
#oldUploadListContainer {
	display: flex;
	gap:8px;
	flex-wrap:wrap;
	max-width: 1000px;
    margin-top: 20px;
}
.uploadList {
	display: flex;
	gap: 8px;
	flex-wrap: wrap;
}
.listItem {
	padding: 10px;
	border-radius:6px;
	display: flex;
	gap:8px;
	background: #efefef;
	align-items: center;
}
.listItem.modify {
	background: #e7edfd;
}
.fileList {
	max-width: 100px;
	font-size:14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.pwCheckWrap {
	padding: 10px;
    display: none;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background: #f9f9f9;
}
#pwCheckWrapErrorMsg {
	color:#ff0000;
	display: none;
	width: 100%;
	text-align: center;
}
.dateSign {
	float: left;
	display: flex;
	gap:60px;
	width:100%;
	justify-content: center;
    position: relative;
    top: 80px;
}
.dateSign span {
	color: #00c19d;
	font-weight: 500;
}
.attFileListWrap {
	display: flex;
	gap: 8px;
}
.attFileList {
	display: flex;
    gap: 12px;
    align-items: center;
    background: #e7e7e7;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.download {
	background:url('/images/download.png') no-repeat center / cover;
	width:14px;
	height: 14px;
}
.cm-detail-input-wrap {
	display: flex;
	flex-wrap: wrap;
	border-top: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;	
    gap: 0; 
}
.textInput {
	width: 100%;
	color: #D7D7D7;
}
.noticeIp {
	padding: 8px 12px;
    background: #f4f6fb;
    color: #3382e9;
    border-radius: 20px;
    font-weight: 500;
}
#btnDelteAdd {
	display: flex;
	gap: 8px;
}
.mkPopWrap {
	border-top: 1px solid #efefef;
}
.mkCon{
	display: flex;
	border-bottom: 1px solid #efefef;
}
/*.mkCon dt, dd{*/
/*	padding: 10px;*/
/*	max-width: 200px;*/
/*	min-width: 100px;*/
/*    word-break: break-all;*/
/*}*/
.mkTitle {
	background: #f9f9f9;
	width: 100px;
	text-align: center;
	font-weight: 500;
}
.search-wrap {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
}
.cm-no-ans {
	padding: 30px;
    background: #f7f7f7;
    text-align: center;
    font-size: 18px;
}
.cm-atch-list {
	width: 100%;
}
.cm-ipt-text {
	font-weight: 600;
	color: #0069b7;
}
.cm-red-text {
	padding: 4px 8px;
    background-color: #e13b3b;
    color: #fff;
    font-weight: 400;
    border-radius: 6px;
    font-size: 14px;
}
#dectionLcBtn {
	margin-top: 60px;
}
.location-btn {
	color: #0069b7;
	border-bottom: 2px solid #0069b7;
	font-weight: 500;
}
.no-picture {
	padding: 32px;
	text-align: center;
	background: #f9f9f9;
	font-weight: 500;
}
.detection-inquery-con {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
}

/*테블릭*/
@media all and (max-width: 1280px){
	.fines-inquiry {
		width:95%;
		margin:auto;
	}
	.textarea-top {
		padding:0;
	}
}
@media all and (max-width: 1024px) {
		#mapContents {
		padding: 16px;
	}
	.detail-title {
		display: block;
	}
	#base-table > ul > li {
		padding: 12px;
        border-radius: 6px;
        border: 1px solid #e4e9ed;
        width: 100%;
        position: relative;
	}
	.cm-detail-wrap {
		padding: 16px;
		background: #f4f5f9;
		border-radius: 6px;
	}
	#billNumber {
		margin-top:20px;
	}
	.mapDateListWrap {
		flex-wrap:wrap;
		gap:8px;
	}
	.dateLine {
		display: none;
	}
	.dateLabel {
		display: block;
	} 
	.dateInput {
		padding: 11px !important;
		color: #333;
	}
	#mobileChartBtn select {
		font-size:14px;
		color: #333;
	}
	#mobileChartBtn {
		display: block;
	} 
	#chartBtnWrap {
		display: none;
	}
	.mapDateListWrap input, button {
		width: 100%;
		font-size:14px;
	}
	.chartList {
		margin-top:20px;
		overflow: auto;
	}
	.chartList canvas {
		width: 1000px;
	}
	.detail-table dl {
		display: block;
		width:100%;
	}
	.detail-table dl dt {
		border:none;
		display: block;
		width:100%;
		text-align: left;
	}
	.detail-table dl dd {
		display: block;
		text-align: left;
	}
	.detail-table-7 dl:nth-child(7) dt {
		width:100%;
	}
	.detail-table-7 dl:nth-child(7) dd {
		width:100%;
	}
	#filterBox dl {
		display: block !important;
	}
	#filterBox dt {
		width:100%;
		margin-bottom: 8px;
		padding-left: 12px;
	}
	#filterBox dt::before {
		width: 4px;
		height: 4px;
	}
	.cm-detail-input-list {
		width: 100%;
	}
	.cm-input-list dl dt {
		display: block;
		width:100% !important;
	}
	.cm-detail-input-list > dl dt {
		text-align: left;
	}
	.cm-input-list dl dd {
		width:100%;
		display: block;
	}
	.cm-detail-col3 {
		width: 100%;
	}
	.cm-detail-col3 dl dt {
		width: 100%;
	}
	#page-title {
		font-size:18px;
	}
	.cm-info-wrap h1 {
		font-size:18px;
	}
	#cm-notice-title {
		font-size:18px;
	}
	.cm-notice-info-list dt {
		font-size:14px;
		font-weight: 400;
	}
	.cm-notice-info-list dd {
		font-size:14px;
		font-weight: 400;
	}
	#billWrap {
		margin-top:20px;
	}
	.detail-table-7 .detail19 {
		width: 100%;
	}
	.detail-table-7 .detail80 {
		width: 100%;
	}
	.detail-table-7 dl:last-child dt {
		width: 100%;
	}
	/*여기도 지워야됨 추후 폼테그*/
	#filterBox dd {
		flex-wrap:wrap;
		padding: 0;
		width:100%;
		gap: 20px;
	}
	/*여기도 지워야됨 추후 폼테그*/
	#filterBox dd form {
		flex-wrap:wrap;
		padding: 0;
		width:100%;
	}
	#filterBox dd select, input {
		width:100%;
	}
	#listRegistBtn a {
		display: block;
		width:100%;
	} 
	#listSearchTableOpiton {

	}
	#listRegistBtn {
		width:36%;
	}
	#listRegistBtn a {
		font-size:15px;
	}
	#listSearchSelect select {
		width:100%;
	}
	.base-table-th {
		display: none !important;
	}
	#base-table {
		margin-top:16px;
	}
	#base-table > ul {
		display: flex;
		flex-wrap: wrap;
		gap: 8px;
	}
	.baseCmTable {
		display: flex;
		flex-wrap: wrap;
		gap: 8px;
	}
	.baseCmTable > li {
		padding: 12px;
		border-radius: 6px;
		border: 1px solid #e4e9ed;
		width: 100%;
		position: relative;
	}
	.ob-regist-base-table {
		margin-top:0 !important;
	}
	.TableTitle {
		font-weight: 600;
		white-space: nowrap;
	    text-overflow: ellipsis;
	    overflow: hidden;
	    width: 100%;
	}
	.TableNumber {
		display: none !important;
	}
	.TableCmNumber {
		font-weight: 600;
		order:5;
		text-align: right !important;
	}
	.TableBillNumber {
		font-weight: 600;
		order:4;
		text-align: left !important;
	}
	.TableType {
		border-radius: 20px;
		font-weight: 500;
		color:#0069b7;
	}
	.TableState {
		color:#ff0000;
		font-weight: 600;
		order:2;
		text-align: right !important;
	}
	.TableCmDate {
		color:#c1c0c0;
		order:5;
		text-align: right;
	}
	.base-table-cm .TableType {
		order: 2;
	}
	.base-table-cm .TableStatus {
		order: 3;
	}
	.base-table-complaints .TableType {
		order:4;
	}
	.base-table-complaints .TableTitle {
		width:100%;
		text-align: left;
		order:2;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
	.base-table-complaints .TableCmDate {
		width:auto;
		order:5;
		text-align: right;
	}
	.base-table-complaints .TableStatus {
		order:4;
		text-align: right;
	}
	.base-table-complaints .TableWriter {
		order:3;
		text-align: left;
	}
	.base-table-objections .TableType {
		order:2;
	}
	.base-table-objections .TableTitle {
		order:1;
		text-align: left;
		width: 100%;
	}
	.base-table-objections .TableCmDate {
		order:4;
		text-align: left;
	}
	.base-table-objections .TableStatus {
		order:3;
		text-align: left;
	}
	.driver-table .TableCmDate {
		text-align: right;
	}
	.payment-table .TableCmDate {
		text-align: right;
	}
	.fineinquiry .TableCmDate {
		text-align: right;
	}
	.notice-table .TableTitle {
		order:1;
		text-align: left;
	}
	.notice-table .TableCmDate {
		order:5;
		text-align: right;
	}
	.notice-table .TableView {
		order:3;
		text-align: left;
		color:#c1c0c0;
	}
	.faq-table .TableNumber {
		display:none ;
	}
	.faq-table .TableTitle {
		order:1;
		text-align: left;
	}
	.faq-table .TableCmDate {
		order:4;
		text-align: right;
	}
	.faq-table .TableView {
		order:3;
		text-align: left;
		color:#c1c0c0;
	}
	.qna-table .TableType {
		order:2;
	}
	.qna-table .TableTitle {
		order:1;
		width:100%;
		text-align: left;
	}
	.qna-table .TableCmDate {
		order:4;
		text-align: right;
	}
	.qna-table .TableStatus {
		order:3;
		text-align: left;
	}
	.laws-table .TableTitle {
		order:1;
		text-align: left;
	}
	.laws-table .TableSubTitle {
		order:2;
		width:50%;
		text-align: right;
		white-space: nowrap;
	    text-overflow: ellipsis;
	    overflow: hidden;
	}
	.laws-table .TableCmDate {
		width:100%;
		text-align: right;
	}
	.penalty-table .TableAddress {
		order: 1;
		width:100%;
		text-align: left;
		font-weight: 600;
	}
	.penalty-table .TablePolice {
		order: 2;
		text-align: left;
		font-weight: 600;
		color: #0069b7;
	}
	.penalty-table .TableTime {
		order: 3;
		text-align: right;
		color: #c1c0c0;
	}
	.penalty-table .TableWork {
		order: 4;
		text-align: left;
		color: #c1c0c0;
	}
	.ob-regist-table .TableCmType {
		order: 1;
		width:20%;
		color: #ff0000;
		border: 1px solid #ff0000;
		border-radius: 30px;
	}
	.ob-regist-table .TableStatus {
		order: 2;
		width:20%;
		color: #ff0000;
	}
	.ob-regist-table .TableObNumber {
		order: 3;
		font-weight: 600;
		width:60%;
		text-align: right;
	}
	.ob-regist-table .TableCheck {
		order: 4;
		width:20%;
		text-align: left;
	}
	.ob-regist-table .TableCheck input {
		width: auto;
	}
	.ob-regist-table .TableCarNumber {
		order: 5;
		font-weight: 600;
		width:30%;
		text-align:left;
	}
	
	.cm-input-list select {
		background:#fff url('/images/arrow-select.png') no-repeat 97% 50%
	}
	.base-select {
		background: #fff url('/images/arrow-select.png') no-repeat 95% 50%
	}
	#cm-notice-info-date {
		display: flex;
		flex-wrap:wrap;
		gap:10px;
	}
	.cm-notice-info {
		flex-wrap:wrap;
		gap:10px;
	}
	.cm-notice-info-list {
		width:100%;
		flex-wrap:wrap;
	}
	.base-table-td {
		display: flex;
		flex-wrap:wrap;
	}
	.base-table-cm li {
		padding: 10px !important;		
		font-size:14px;
	}
	.TableBillDate {
		width: 40%;
	}
	.fines-inquiry {
		width:100%;
	}
	.swiper-wrapper {
		margin:0;
	}
	.swiper-arrow-left {
		display: none;
	}
	.swiper-arrow-right {
		display: none;
	}
	#backLinkBox a {
		width:100%;
		padding:16px 0;
		font-size:20px;
		font-weight: 600;
	}
	#approvalBox {
		float: none;
		margin:auto;
	}
	.dateSign {
		margin:60px 0;
		float: none;
		top:0;
		width: auto;
	}
	#btnDelteAdd {
		width: 100%;
		flex-wrap:wrap;
	}
	#btnDelteAdd form {
		width: 100%;
	}
	.btn-wrap-end .main-btn {
		order:1;
	}
	.btn-wrap-end .sub-btn {
		order:2;
	}
	.deleteForm {
		order:2;
	}
	.modifyForm {
		order:1;
	}
	.detail-info-wrap h3 {
		font-size: 18px;
	}
	.cm-line {
		position: relative;
	}
	.cm-line::after {
		content: '';
        width: 2px;
        height: 14px;
        background: #dbdbdb;
        position: absolute;
        top: 9px;
        right: -1px;
    }
   
}
@media all and (max-width: 767px) {
	 .detection-inquery-wrap {
		overflow: auto;
	}
	 .detection-inquery-con {
		width: 1000px;
	}
}
