<html xmlns:th="http://www.thymeleaf.org"  
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/layout">


<div layout:fragment="content" >
	<div class="hero-section">
		<!--메인 베너-->
		<div class="main-banner">
			<img src="/images/banner.png" alt="로고">
			<div class="banner-dark-bg">
				<div class="banner-text">
					<p class="banner-title">도로교통안전 종합전문기관</p>
					<p class="banner-sub-title">
						안전한 도로교통의 중심, 배려하는 교통문화의 동반자<br>
						함께하는 소통, 실천하는 책임과 열정
					</p>
				</div>
			</div>
		</div>
		
		<!--메인 내용-->
		<div class="container">
			<div class="main-menu">
				<div class="main-menu-list">
					<div class="icon-wrap">
						<img src="/images/camera.png" alt="단속현황 아이콘">
					</div>
					<div class="list-text">
						<div class="list-text-content">
							<div class="list-text-title">
								단속현황
							</div>
							<div class="list-text-sub">
								생활 속 불편사항 신고,<br>
								건의 등을 위한 창구입니다.
							</div>
						</div>
						<div class="list-text-btn">
							<a href="">바로가기 <img src=/images/arrow.png alt="바로가기" class="btn-arrow"></a>
						</div>
					</div>
					
				</div>
				<div class="main-menu-list">
					<div class="icon-wrap">
						<img src="/images/book.png" alt="단속현황 아이콘">
					</div>
					<div class="list-text">
						<div class="list-text-content">
							<div class="list-text-title">
								납부/체납 현황
							</div>
							<div class="list-text-sub">
								생활 속 불편사항 신고,<br>
								건의 등을 위한 창구입니다.
							</div>
						</div>
						<div class="list-text-btn">
							<a href="">바로가기 <img src=/images/arrow.png alt="바로가기" class="btn-arrow"></a>
						</div>
					</div>
				</div>
				<div class="main-menu-list">
					<div class="icon-wrap">
						<img src="/images/monitor.png" alt="단속현황 아이콘">
					</div>
					<div class="list-text">
						<div class="list-text-content">
							<div class="list-text-title">
								운전면허조회
							</div>
							<div class="list-text-sub">
								생활 속 불편사항 신고,<br>
								건의 등을 위한 창구입니다.
							</div>
						</div>
						<div class="list-text-btn">
							<a href="">바로가기 <img src=/images/arrow.png alt="바로가기" class="btn-arrow"></a>
						</div>
					</div>
				</div>
			</div>

			<!--공지사항-->
			<div class="board-wrap">
				<div class="board">
					<div class="board-title-wrap">
						<div class="board-title">공지사항</div>
						<div class="board-more">
							<a href="">
								More
								
							</a>
						</div>
					</div>
					<div class="board-contents">
						<div class="board-contents-list">
							   <div class="board-date">
									2023.08.19
								</div>
								<div class="category">
									사고
								</div>
								<div class="board-contents-title">
									<a href="">
										집중단속기간 안내 공지사항 입니다. 단속 일시 : 2023-09-01월 1일부로 이이야기는 전설적인퇴마사 김옥지의
									</a>
								</div>
						</div>
						<div class="board-contents-list">
							   <div class="board-date">
									2023.08.19
								</div>
								<div class="category">
									사고
								</div>
								<div class="board-contents-title">
									<a href="">
										집중단속기간 안내 공지사항 입니다. 단속 일시 : 2023-09-01월 1일부로 이이야기는 전설적인퇴마사 김옥지의
									</a>
								</div>
						</div>
						<div class="board-contents-list">
							   <div class="board-date">
									2023.08.19
								</div>
								<div class="category">
									사고
								</div>
								<div class="board-contents-title">
									<a href="">
										집중단속기간 안내 공지사항 입니다. 단속 일시 : 2023-09-01월 1일부로 이이야기는 전설적인퇴마사 김옥지의
									</a>
								</div>
						</div>
						<div class="board-contents-list">
								<div class="board-date">
									2023.08.19
								</div>
								<div class="category">
									사고
								</div>
								<div class="board-contents-title">
									<a href="">집중단속기간 안내 공지사항 입니다. 단속 일시 : 2023-09-01월 1일부로 이이야기는 전설적인퇴마사 김옥지의</a>
								</div>
								
						</div>
					</div>
				</div>
				
				<div class="board">
					<div class="board-title-wrap">
						<div class="board-title">FAQ</div>
						<div class="board-more">
							<a href="">
								More
							</a>
						</div>
					</div>
					<div class="board-contents">
						<div class="board-contents-list">
								<div class="board-date">
									2023.08.19
								</div>
								<div class="board-contents-title">
									<a href="">집중단속기간 안내 공지사항 입니다. 단속 일시 : 2023-09-01월 1일부로 이이야기는 전설적인퇴마사 김옥지의</a>
								</div>
							
						</div>
						<div class="board-contents-list">
								
								<div class="board-date">
									2023.08.19
								</div>
								<div class="board-contents-title">
									<a href="">집중단속기간 안내 공지사항 입니다. 단속 일시 : 2023-09-01월 1일부로 이이야기는 전설적인퇴마사 김옥지의</a>
								</div>
							
						</div>
						<div class="board-contents-list">
								
								<div class="board-date">
									2023.08.19
								</div>
								<div class="board-contents-title">
									<a href="">집중단속기간 안내 공지사항 입니다. 단속 일시 : 2023-09-01월 1일부로 이이야기는 전설적인퇴마사 김옥지의</a>
								</div>
							
						</div>
						<div class="board-contents-list">
								
								<div class="board-date">
									2023.08.19
								</div>
								<div class="board-contents-title">
									<a href="">집중단속기간 안내 공지사항 입니다. 단속 일시 : 2023-09-01월 1일부로 이이야기는 전설적인퇴마사 김옥지의</a>
								</div>
								
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	
	
	
	
</div>
</html>