<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/layout">


<div layout:fragment="content">
	<div id="main-container">
		<div id="main-contents">
			<!--메인 베너-->
			<div id="main-banner">
				<div id="banner-dark-bg">
					<div id="banner-text">
						<p id="banner-title" th:text="#{main.main.bannerTitle}"></p>
						<p id="banner-sub-title" th:text="#{main.main.bannerContent}">
							The center of safe road traffic, a partner in a considerate traffic culture
						</p>
					</div>
					<div id="main-banner-bg">

					</div>
				</div>
			</div>

			<!--로그인
		<div class="login-wrap">
			<div class="login-line">
				<img src="/images/login-img.png" alt="로그인">
				<div class="login-text">내게 필요한 정보를 확인하세요.</div>
			</div>
			<div class="login-line">
				<div class="login-btn">
					<a th:href="@{/login}" th:text="#{main.header.login}"></a>
				</div>
				
				<div class="main-info-wrap">
					<div class="idpw">
						<a href="/login/pwfindinfo">Id find</a>
						<a href="/login/pwfindinfo">Password find</a>
					</div>
					<div class="join">
						<a href="/login/join">Join</a>
					</div>
				</div>
			</div>
		</div>-->

			<div class="main-menu-list-wrap main-contents-odd">
				<div class="main-menu-title" th:text="#{main.main.servicesTitle}">- Frequently sought service</div>
				<div class="main-menu-list">
					<div>
						<a th:href="@{/inquiry/enfstatus/search.do}">
							<img src="/images/main-img01.png" alt="enforcement">
							<p class="main-menu-list-title" th:text="#{main.main.enforcement}">Enforcement</p>
						</a>
					</div>
					<div>
						<a th:href="@{/inquiry/pymntstatus/search.do}">
							<img src="/images/main-img02.png" alt="paymentStatus">
							<p class="main-menu-list-title" th:text="#{main.main.pymnt}">Payment</p>
						</a>
					</div>
					<div>
						<a th:href="@{/inquiry/licencestatus/search.do}">
							<img src="/images/main-img03.png" alt="LicenceStatus">
							<p class="main-menu-list-title" th:text="#{main.main.licence}">Licence</p>
						</a>
					</div>
					<div>
						<a th:href="@{/info/penaltyplace/list.do}">
							<img src="/images/main-img04.png" alt="paymntLocation">
							<p class="main-menu-list-title" th:text="#{main.main.placeOfPymnt}">Place of payment</p>
						</a>
					</div>
				</div>
			</div>

			<div class="main-menu-list-wrap main-contents-even">
				<div class="main-menu-title" th:text="#{main.main.civilComplaintTitle}">- Civil complaint</div>
				<div class="main-menu-list">
					<div>
						<a th:href="@{/complain/list.do}">
							<img src="/images/main-img05.png" alt="enfStatus">
							<p class="main-menu-list-title" th:text="#{main.main.complaints}">Complaints</p>
						</a>
					</div>
					<div>
						<a th:href="@{/info/qna/list.do}">
							<img src="/images/main-img06.png" alt="QnA">
							<p class="main-menu-list-title" th:text="#{main.main.qna}">Qna</p>
						</a>
					</div>
				</div>
			</div>

			<!--공지사항-->
			<div class="board main-contents-odd">
				<div class="board-title-wrap">
					<div class="board-title" th:text="#{main.main.noticeTitle}">- Notice</div>
					<div class="board-more">
						<a th:href="@{/info/notice/list.do}" th:text="#{main.main.more}">
							More
						</a>
					</div>
				</div>
				<div class="board-contents">
					<a class="board-contents-list" th:each="ntcItm : ${noticeList}" th:href="@{/info/notice/detail.do?(boardIdx=${ntcItm.boardIdx})}">
						<span class="board-date" th:text="${#dates.format(ntcItm.crDt, 'yyyy.MM.dd')}"></span>
						<span class="board-contents-title" th:text="${ntcItm.boardTitle}"></span>
						<img src="/images/arrow-light.png" class="boardArrow">
					</a>

				</div>
			</div>

			<!--FAQ-->
			<div class="board faq main-contents-even">
				<div class="board-title-wrap">
					<div class="board-title" th:text="#{main.main.faqTitle}">- FAQ</div>
					<div class="board-more">
						<a th:href="@{/info/faq/list.do}" th:text="#{main.main.more}">
							More
						</a>
					</div>
				</div>
				<div class="board-contents">
					<a class="board-contents-list" th:each="faqItm : ${faqList}" th:href="@{/info/faq/detail.do?(faqIdx=${faqItm.faqIdx})}">
						<span class="board-date fap-date" th:text="${#dates.format(faqItm.regDt, 'yyyy.MM.dd')}"></span>
						<span class="board-contents-title faq-contents-title" th:text="${faqItm.postTitle}"></span>
						<img src="/images/arrow-light.png" class="boardArrow">
					</a>
				</div>
			</div>
		</div>


	</div>
</div>

</html>