<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/layout">
	
	<div layout:fragment="content">
		<div id="container">
			<div id="wrap">
				<h2 id="mainTitle" th:text="#{myPage.mypageModify.myInfo}"></h2>
				<div class="box-wrap">
					<div class="box-title">
						<h3 th:text="#{myPage.mypageModify.changeMyInfo}"></h3>
					</div>
					<div class="clearfix">
						<table class="info-table">
							<tbody id="infoTablePc">
								<tr>
									<th th:text="#{myPage.mypageModify.name}"></th>
									<td>Inki Moon</td>
									<th th:text="#{myPage.mypageModify.id}"></th>
									<td>pop123</td>
								</tr>
								<tr>
									<th th:text="#{myPage.mypageModify.birthday}"></th>
									<td>1994-09-15</td>
									<th th:text="#{myPage.mypageModify.tel}"></th>
									<td>
										<span class="flex-between">
											<span>
												010-1234-5678
											</span>
											<span>
												<input type="button" class="is-key-button" th:value="#{myPage.mypageModify.modify}"/>
											</span>										
										</span>
									</td>
								</tr>
								<tr>
									<th th:text="#{myPage.mypageModify.licenseNumber}"></th>
									<td><input type="text" value="14-19-123456"></td>
									<th th:text="#{myPage.mypageModify.password}"></th>
									<td><a th:href="@{/mypage/pw/modify}" class="is-key-button" th:text="#{myPage.mypageModify.changePassword}"></a></td>
								</tr>
							</tbody>
							<tbody id="infoTableMobile">
								<tr>
									<th th:text="#{myPage.mypageModify.name}"></th>
									<td>Inki Moon</td>
								</tr>
								<tr>
									<th th:text="#{myPage.mypageModify.id}"></th>
									<td>pop123</td>								
								</tr>
								<tr>
									<th th:text="#{myPage.mypageModify.birthday}"></th>
									<td>1994-09-15</td>								
								</tr>
								<tr>
									<th th:text="#{myPage.mypageModify.tel}">연락처</th>
									<td>
										<span class="flex-between">
											<span>
												010-1234-5678
											</span>
											<span>
												<input type="button" class="is-key-button" th:value="#{myPage.mypageModify.modify}"/>
											</span>										
										</span>
									</td>								
								</tr>
								<tr>
									<th th:text="#{myPage.mypageModify.licenseNumber}"></th>
									<td><input type="text" value="14-19-123456"></td>								
								</tr>
								<tr>
									<th th:text="#{myPage.mypageModify.password}"></th>
									<td><a th:href="@{/mypage/pw/modify}" class="is-key-button" th:text="#{myPage.mypageModify.changePassword}"></a></td>								
								</tr>
							</tbody>
						</table>
						<div class="modify-button-set">
							<a th:href="@{/mypage}" class="is-basic-button mr8" th:text="#{myPage.mypageModify.changeToNext}"></a>
							<a th:href="@{/mypage}" class="is-key-button" th:text="#{myPage.mypageModify.modify}"></a>
						</div>
					</div>
				</div>					
			</div>		
		</div>
	</div>
</html>