<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/layout">
	
	<div layout:fragment="content">
		<div id="container">
			<div id="wrap">
				<h2 id="mainTitle" th:text="#{myPage.myPage.myInfo}"></h2>
				<div class="box-wrap">
					<div class="box-title">
						<h3 th:text="#{myPage.myPage.crackdownDetail}"></h3>
						<a th:href="@{/mypage/modify}" class="is-key-button" th:text="#{myPage.myPage.changeMyInfo}"></a>
					</div>
					<div>
						<table class="info-table">
							<tbody>
								<tr>
									<th th:text="#{myPage.myPage.name}"></th>
									<td>Inki Moon</td>
								</tr>
								<tr>
									<th th:text="#{myPage.myPage.email}"></th>
									<td>pop123@gmail.com</td>
								</tr>
								<tr>
									<th th:text="#{myPage.myPage.tel}"></th>
									<td>010-1234-4567</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>			
				<div class="box-wrap">
					<div class="box-title">
						<h3 th:text="#{myPage.myPage.complaintProgressStatus}"></h3>
					</div>
					<div class="box-content">
						<div class="box-item">
							<div class="box-txt" th:text="#{myPage.myPage.receipt}"></div>
							<div class="box-total" th:text="#{myPage.myPage.caseNum}"><span>0</span></div>
						</div>
						<div class="box-item">
							<div class="box-txt" th:text="#{myPage.myPage.proceeding}"></div>
							<div class="box-total" th:text="#{myPage.myPage.caseNum}"><span>0</span></div>
						</div>
						<div class="box-item">
							<div class="box-txt" th:text="#{myPage.myPage.complete}"></div>
							<div class="box-total"  th:text="#{myPage.myPage.caseNum}"><span>0</span></div>
						</div>
					</div>
				</div>			
				<div class="box-wrap">
					<div class="box-title">
						<h3 th:text="#{myPage.myPage.appealStatus}"></h3>
					</div>
					<div class="box-content">
						<div class="box-item">
							<div class="box-txt" th:text="#{myPage.myPage.receipt}"></div>
							<div class="box-total" th:text="#{myPage.myPage.caseNum}"><span>0</span></div>
						</div>
						<div class="box-item">
							<div class="box-txt" th:text="#{myPage.myPage.proceeding}"></div>
							<div class="box-total" th:text="#{myPage.myPage.caseNum}"><span>0</span></div>
						</div>
						<div class="box-item">
							<div class="box-txt" th:text="#{myPage.myPage.complete}"></div>
							<div class="box-total" th:text="#{myPage.myPage.caseNum}"><span>0</span></div>
						</div>
					</div>
				</div>
				<div class="box-wrap">
					<div class="box-title">
						<h3 th:text="#{myPage.myPage.delinquencyHistory}"></h3>
					</div>
					<div>
						<table class="commom-table">
							<thead>
								<tr>
									<th th:text="#{myPage.myPage.number}"></th>
									<th th:text="#{myPage.myPage.billSerialNumber}"></th>
									<th th:text="#{myPage.myPage.crackdownType}"></th>
									<th th:text="#{myPage.myPage.crackdownDate}"></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>M1318-2023-99013290</td>
									<td>signal violation</td>
									<td>2023-12-25</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>			
			</div>		
		</div>
	</div>
</html>