<html xmlns:th="http://www.thymeleaf.org"  
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/layout">
	
	<div layout:fragment="content">
<!--		<div id="breadcrumb">-->
<!--			<ul>-->
<!--				<li>-->
<!--					<a href="">-->
<!--						<img th:src="@{/images/home.png}" alt="메인 페이지">-->
<!--					</a>-->
<!--				</li>-->
<!--				<li>-->
<!--					<img th:src="@{/images/arrow-right.png}" alt="다음">-->
<!--				</li>-->
<!--				<li>-->
<!--					<a href="">-->
<!--						서브페이지-->
<!--					</a>-->
<!--				</li>-->
<!--				<li>-->
<!--					<img th:src="@{/images/arrow-right.png}" alt="다음">-->
<!--				</li>-->
<!--				<li>-->
<!--					<a href="">-->
<!--						서브페이지-->
<!--					</a>-->
<!--				</li>-->
<!--			</ul>-->
<!--		</div>-->
		
		<div id="container">
			<div id="wrap">
				<h2 id="page-title" th:text="#{trafficinfo.sateinfo.title}">Traffic Safety Information</h2>
				<div id="filterBox">
						<dl>
							<dt th:text="#{trafficinfo.common.search}">Search</dt>
							<dd>
								<form id="trfcSftyInfrmForm" method="get">
									<input type="text" class="base-search" name="searchTxt"
										th:value="${tfcSftyInfrm.searchTxt}"
										th:placeholder="#{trafficinfo.common.search.placeholder}">
									<input type="hidden" id="start" name="start" th:value="${tfcSftyInfrm.start}">
									<input type="hidden" id="page" name="page" value="1">
									<input type="submit" class="sub-btn" th:value="#{trafficinfo.common.search.button}"/>
								</form>
							</dd>
						</dl>
				</div>
				<div id="list-table-wrap" th:object="${tfcSftyInfrmList}">
					
					<div th:if="${not #object.isEmpty()}">
						<div id="listSearchTableOpiton">
							<div id="listSearchTotal">
								<p th:text="#{trafficinfo.trafficSafeInfoList.total}"></p> <span th:text='|"${pagination.totalListCnt}"|'>"546465"</span>
							</div>
						</div>
						
						<div id="base-table">
							<ul class="base-table-th base-table-cm">
								<li th:text="#{trafficinfo.common.number}"></li>
								<li th:text="#{trafficinfo.common.title}"></li>
								<li th:text="#{trafficinfo.common.add.date}"></li>
								<li th:text="#{trafficinfo.common.hits}"></li>
							</ul>
							
							<ul>	
								<li th:each="tfcSftyInfrmItm : ${tfcSftyInfrmList}">
									<ul class="base-table-td base-table-cm notice-table" 
											th:onclick="|location.href='@{/traffic/info/safeinfo/detail.do(tfcSftyInfrmId=${tfcSftyInfrmItm.tfcSftyInfrmId})}'|">
										<li class="TableNumber" th:text="${tfcSftyInfrmItm.rnum}">1</li>
										<li class="TableTitle" th:text="${tfcSftyInfrmItm.postTtl}">post title</li>
										<li class="TableCmDate" th:text="${#dates.format(tfcSftyInfrmItm.crDt, 'yyyy-MM-dd')}">2023-12-25</li>
										<li class="TableView" th:text="${tfcSftyInfrmItm.viewCnt}">256</li>
									</ul>
								</li>
							</ul>
				    </div>
					    
					<div class="page_wrap">
						<div th:insert="tags/pagingTag :: pagingTag"></div>
					</div>
						
					</div>
					
					<div th:unless="${not #object.isEmpty()}">
						<span th:text="#{notification.search.notFound}">Nothing found.</span>
					</div>
					
					
				</div>			
			</div>		
		</div>    
	</div>
</html>
<script type="text/javascript">
	
	function fnPageMove(pageToMove) {
		let pageElmnt = document.getElementById("page");
		let noticeSearchForm = document.getElementById("trfcSftyInfrmForm");
		pageElmnt.value = pageToMove;
		
		noticeSearchForm.submit();
	}
	
</script>

