<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/layout">

	<div layout:fragment="content">
    <div id="container">
			<h2 id="page-title" th:text="#{trafficinfo.training.title}">교통안전 교육</h2>
			<div class="cm-info-wrap">
				<div id="cm-notice-wrap">
					<div id="cm-notice-title" th:text="${tfcSftyEdctnDetail.postTtl}">Notice Title</div>
					<div class="cm-notice-info">
						<dl class="cm-notice-info-list">
							<dt th:text="${tfcSftyEdctnDetail.webOprtr.oprtrDeptNm}">Writer Dept</dt>
							<dd th:text="${tfcSftyEdctnDetail.webOprtr.oprtrNm}">Writer Nm</dd>
						</dl>
						<div id="cm-notice-info-date">
							<dl class="cm-notice-info-list">
								<dt th:text="#{trafficinfo.common.add.date}">Regist Date</dt>
								<dd th:text="${#dates.format(tfcSftyEdctnDetail.crDt, 'yyyy.MM.dd')}">2023.08.13</dd>
							</dl>
							<dl class="cm-notice-info-list">
								<dt th:text="#{trafficinfo.common.hits}">View</dt>
								<dd th:text="${tfcSftyEdctnDetail.viewCnt}">60</dd>
							</dl>
						</div>
					</div>
					<div class="cm-notice-info">
						<dl class="cm-notice-info-list">
							<dt th:text="#{trafficinfo.common.file}">첨부파일</dt>
							<th:block th:if="${tfcSftyEdctnDetail.atchFile == null}">
								<dd>Não há informações cadastradas.</dd>
							</th:block>
							<th:block th:unless="${tfcSftyEdctnDetail.atchFile == null}">
								<dd class="flex-center">
									<a class="detailFile" th:href="@{/common/file/download.do(fileId=${tfcSftyEdctnDetail.atchFile.fileIdx})}">
										<div th:text="${tfcSftyEdctnDetail.atchFile.fileOrgNm}">File Og Name</div>
										<button class="download"></button>
									</a>
								</dd>
							</th:block>
						</dl>
					</div>
					<div id="cm-notice-con" class="text-pre-line" th:text="${tfcSftyEdctnDetail.postCn}">
						공지사항 입니다.
					</div>
				</div>
			</div>		
			<div class="btn-wrap-end">
			<button type="button" class="sub-btn out-btn" th:onclick="|location.href='@{/traffic/info/edu/list.do}'|"
				th:text="#{trafficinfo.trafficSafeEduDetail.list}">List</button>
			</div>
        </div>
	</div>
</html>