<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/layout">
	<div layout:fragment="content" >
		<div id="loginContainer">
			<div id="loginWrap">
				<h1 th:text="#{login.loginPwFindChange.resetPassword}"></h1>
				<div class="login-user-info">
					<label th:text="#{login.loginPwFindChange.password}"></label>
					<input type="password" class="login-input" th:placeholder="#{login.loginPwFindChange.placeholder.password}">
				</div>
				<div class="login-user-info login-user-pwd">
					<label th:text="#{login.loginPwFindChange.passwordChk}"></label>
					<input type="password" class="login-input" th:placeholder="#{login.loginPwFindChange.placeholder.passwordChk}">
				</div>
				<div>
					<a href="#" class="login-Button" th:text="#{login.loginPwFindChange.change}"></a>
				</div>
				<div id="userSelectBox">
					<div>
						<a th:href="@{/login}" th:text="#{login.loginPwFindChange.login}"></a>
					</div>
					<div>
						<a th:href="@{/login/join}" th:text="#{login.loginPwFindChange.join}"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</html>
<script>
	$('.footer').addClass('login');
</script>