<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/layout">
	
	<div layout:fragment="content" >
		<div id="loginContainer">
			<div id="loginWrap">
				<h1 th:text="#{login.login.login}"></h1>
				<div class="login-user-info">
					<label th:text="#{login.login.id}"></label>
					<input type="text" class="login-input" th:placeholder="#{login.login.placeholder.id}">
				</div>
				<div class="login-user-info">
					<label th:text="#{login.login.password}"></label>
					<input type="password" class="login-input" th:placeholder="#{login.login.placeholder.password}">
				</div>
				<div id="userSelectBox">
					<div>
						<input type="checkbox" id="userIdSave">
						<label th:text="#{login.login.idSave}" for="userIdSave"></label>
					</div>
					<div>
						<a th:href="@{/login/pwfindinfo}" th:text="#{login.login.findPassword}"></a>
					</div>
				</div>
				<div>
					<button type="button" class="login-Button" th:text="#{login.login.login}"></button>
				</div>
				<div>
					<a th:href="@{/login/join}" id="joinButton" th:text="#{login.login.join}"></a>
				</div>
			</div>
		</div>
	</div>
</html>
<script>
	$('.footer').addClass('login');
</script>
