<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/layout">
	<div layout:fragment="content" >
		<div id="loginContainer">
			<div id="loginWrap">
				<h1 th:text="#{login.loginPwFindInfo.findPassword}"></h1>
				<div class="login-user-info">
					<label th:text="#{login.loginPwFindInfo.id}"></label>
					<input type="text" class="login-input" th:placeholder="#{login.loginPwFindInfo.placeholder.email}">
				</div>
				<div class="login-user-info login-user-pwd">
					<label th:text="#{login.loginPwFindInfo.name}"></label>
					<input type="text" class="login-input" th:placeholder="#{login.loginPwFindInfo.placeholder.name}">
				</div>
				<div>
					<a th:href="@{/login/pwfindchange}" class="login-Button" th:text="#{login.loginPwFindInfo.findPassword}"></a>
				</div>
				<div id="userSelectBox">
					<div>
						<a th:href="@{/login}" th:text="#{login.loginPwFindInfo.login}"></a>
					</div>
					<div>
						<a th:href="@{/login/join}" th:text="#{login.loginPwFindInfo.join}"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</html>
<script>
	$('.footer').addClass('login');
</script>