<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/layout">

	<div layout:fragment="content">
<!--		 <div id="breadcrumb">-->
<!--			<ul>-->
<!--				<li>-->
<!--					<a href="">-->
<!--						<img th:src="@{/images/home.png}" alt="메인 페이지">-->
<!--					</a>-->
<!--				</li>-->
<!--				<li>-->
<!--					<img th:src="@{/images/arrow-right.png}" alt="다음">-->
<!--				</li>-->
<!--				<li>-->
<!--					<a href="">-->
<!--						서브페이지-->
<!--					</a>-->
<!--				</li>-->
<!--				<li>-->
<!--					<img th:src="@{/images/arrow-right.png}" alt="다음">-->
<!--				</li>-->
<!--				<li>-->
<!--					<a href="">-->
<!--						서브페이지-->
<!--					</a>-->
<!--				</li>-->
<!--			</ul>-->
<!--		</div>-->
        <div id="container">
			<h2 id="page-title" th:text="#{notification.qna.title}">문의하기</h2>
			<form id="qnaSaveForm">
				<div class="cm-info-wrap">
					<h1	th:text="#{notification.qna.register.user.title}">문의 신청인 정보</h1>
						<div class="cm-input-wrap">
							<div class="cm-input-list">
								<dl>
									<dt>
										<label class="control-label" for="postPw" th:text="#{notification.common.password}">비밀번호</label>
									</dt>
									<dd>
										<input type="password" id="wrtrPno" name="postPw" placeholder="" class="form-control detail-input">
									</dd>
								</dl>
							</div>
						</div>
				</div>
				<div class="cm-info-wrap">
					<h1 th:text="#{notification.qna.content}">민원내용</h1>
						<div class="search-wrap">
							<div class="cm-input-list">
								<dl>
									<dt>
										<label class="control-label" for="postTtl" th:text="#{notification.common.title}">제목</label>
									</dt>
									<dd>
										<input type="text" id="postTtl" name="postTtl" placeholder="" class="form-control detail-input">
									</dd>
								</dl>
							</div>
							
							<div class="cm-input-list">
								<dl>
									<dt>
										<label  class="control-label" for="cateCd" th:text="#{notification.common.category}">카테고리</label>
									</dt>
									<dd>
										<select class="base-select" name="cateCd" >
											<option th:each="item : ${cateCdList}" th:text="${item.cdNm}" th:value="${item.cdId}">All</option>
										</select>
									</dd>
								</dl>
							</div>
							<div class="cm-input-list">
								<dl>
									<dt class="textarea-top">
										<label class="control-label" for="postCn" th:text="#{notification.common.file}">첨부파일</label>
									</dt>
									<dd id="file-wrap">
										<div class="file-inner">
											<input class="upload-name" th:placeholder="#{notification.common.file}" type="text" id="fileNameDisplay" readonly/>
											<button type="button" class="fileUpBtn" th:text="#{notification.common.file.search}" onclick="fileUpload()">파일찾기</button> 
											<input type="file" id="uploadFiles" accept="image/jpeg, image/png" multiple style="display: none;">
										</div>
										<p class="file-text" th:text="#{notification.common.qna.file.rules}">
											*파일첨부는 4개까지 가능, 각 10MB 이하로 첨부하여 주세요. 첨부 가능 확장자 (*jpg,jpeg,png)
										</p>
										<div class="uploadWrap none">
											<div id="uploadListContainer"></div>	
										</div>
									</dd>
								</dl>
							</div>
							<div class="cm-input-list">
								<dl>
									<dt class="textarea-top">
										<label class="control-label" for="postCn" th:text="#{notification.common.text}">내용</label>
									</dt>
									<dd>
										<textarea class="form-control base-textarea" id="postCn" name="postCn" rows="6"></textarea>
									</dd>
								</dl>
							</div>
							
						</div>
				</div>
			</form>
			<div class="btn-wrap-end">
				<div class="form-group">
					<input type="button" class="sub-btn out-btn" th:value="#{notification.common.list}" onclick="location.href='/info/qna/list.do'">
					<input type="button" class="main-btn out-btn" th:value="#{notification.common.register}" th:onclick="registQna()">
				</div>
			</div>
        </div>
	</div>
</html>
<script>
	
function registQna(){
	let fileInput = document.getElementById('uploadFiles');
    let files = fileInput.files[0];

    var formData = new FormData(document.getElementById('qnaSaveForm'));
    //file Validation Check
    
    formData.append('uploadFiles', files);
	
	$.ajax({
		url: __contextPath__+"/info/qna/save.ajax",
        type: "post",
        data: formData,
        processData: false,  // jQuery가 데이터를 처리하지 않도록 설정
        contentType: false,  // contentType을 false로 설정하여 jQuery가 boundary를 포함한 Content-Type 헤더를 설정하도록 함
        success: function(data){
            if(data.code == 200){
                location.href= __contextPath__+"/info/qna/list.do";
            } else {
            	new ModalBuilder().init().alertBody(data.message).footer(4,'Check',function(button, modal){
					modal.close();
				}).open();
            }
        }
	});
}

function handleFileChange(){
	// TODO :: 다중 파일 업로드 필요
	const fileInput = document.getElementById('uploadFile');
	const fileList = document.getElementById("uploadFiles").files;
	const fileNameDisplay = document.getElementById('fileNameDisplay');
	 
	if (fileInput.files.length > 0) {
	  const fileName = fileInput.files[0].name;
	  fileNameDisplay.value = fileName;
	  for (const file of fileList) {
		let fileReg = /(.*?)\.(jpg|jpeg|png)$/;
		let maxSize = 20 * 1024 * 1024;
		if (!fileReg.test(file.name)) {
	        alert('Only Images File');
	        return false;
	    } 
	    else if (file.size > maxSize) {
	        alert('Image size is too large');
	        return false;
	    }
		
		formData.append("files", file);
	}
	  
	}
}
</script>
